.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4.text-center.text-uppercase.text-warning
      Перевод на русский осущесвляется при помощи Google Translate

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2025.05.14
    %ul.changelog
      %li.addition
        = link_to_commit('2002543f3d8972826c8239119225e0ef4362940f')
        = link_to_commit('dadeb5c67aa0195a597a399e5ad330b4de828b49')
        Интерфейс для удаления сертификатов
      %li.addition
        = link_to_commit('d19238f918a8bcb43f19946761ea7885267c2347')
        Интерфейс конфигурирования валидации среднего балла сертификата
      %li.addition
        = link_to_commit('7e7254b89a04af2931f880f31c3f37b7f61b04fb')
        Улучшение локального разработочного окружения
      %li.modification
        = link_to_commit('4a801ec03657b5cecc1c0bc88a8a6f624f3fc950')
        Обновлен и исправлен экзекьютор CI

    %h4 2024.12.25
    %ul.changelog
      %li.modification
        = link_to_commit('06cb7f41b6adc9381413842871fadd06418f6206')
        Обновлены версии библиотек
      %li.modification
        = link_to_commit('140054731c82e431c5237bf03701f151452c4377')
        Исправлены скрипты развертки сервера
      %li.deletion
        = link_to_commit('46e896ed29c9ac300be8ade4ea3c46a7851fcdb2')
        Удаленно устаревшие конфигурации

    %h4 2024.12.07
    %ul.changelog
      %li.addition
        = link_to_commit('2d41e686c801fe2b16ec6659a19e5ad6448233cb')
        Добавлена ​​возможность выбрать цвет текста элемента шаблона сертификата
      %li.modification
        = link_to_commit('18a33084b1ddd17418b2f2fef312cfae1b470d36')
        Обновлена ​​версия ОС и среда запуска сервера
      %li.deletion
        = link_to_commit('f07b398e238629342c61f98d08bbf5639e395ee2')
        Убрана интеграция с одним из неиспользуемых сервисов анализа производительности
      %li.modification
        = link_to_commit('db00b757332aa50d5522de36d683fbba07da41ec')
        Обновлена ​​версия кэширующих скриптов на CI

    %h4 2024.11.16
    %ul.changelog
      %li.addition
        = link_to_commit('594463168fe51076ac5ba28cf820f6d58e049ee8')
        Добавлено отображение списка групп в рассылке расписания для студентов
      %li.addition
        = link_to_commit('5ee298f8fbae90592582f49ff84d7dfc171d7e6f')
        Добавлены контакты администраторов групп к рассылке расписания для студентов и преподавателей
      %li.addition
        = link_to_commit('767a79724bd2f257301e3234ab74c429c63517a8')
        Добавлено регистрационный номер студента на домашнюю страницу
      %li.modification
        = link_to_commit('447d05296cbda20daa244b4718ec6161ad51b87d')
        Обновлены зависимости сборщика проекта и убраны устаревшие параметры конфигурации
      %li.deletion
        = link_to_commit('fede5bae26357e58d9544eb9c6fb7e779620bcea')
        Убраны устаревшие телефоны Академии из рассылкок

    %h4 2024.01.14
    %ul.changelog
      %li.modification
        = link_to_commit('c8a022162a14526481fd3ad1f4e8240fe6356e67')
        = link_to_commit('2d0c414fd1ddec1811736ffac9427871b38a914e')
        Обновление версий библиотек во избежание известных уязвимостей и исправления ошибки невозможности просмотра описания учебного курса
      %li.addition
        = link_to_commit('78bb063ace0170f11d400bcb4f9e28a0973094b9')
        Отображение на домашней странице групп, в которых пользователь является координатором
      %li.addition
        = link_to_commit('4a4cac88a8ad61ef203f5392744e098fb2e71dfe')
        = link_to_commit('63138e9c028b682e9ca1df53238aaf1f555b8a74')
        Отображение на домашней странице групп, в которых пользователь является старостой

    %h4 2024.01.07
    %ul.changelog
      %li.addition
        = link_to_commit('74c921fd661665cf119dcfe5d06c69202f75487b')
        Отображение списка сертификатов для каждого шаблона
      %li.addition
        = link_to_commit('c2c557b3fdef91a7c66114fd56a23cad4e09618a')
        Отображение среднего балла в списке сертификатов на странице просмотра студента и на домашней странице

    %h4 2024.01.01
    %ul.changelog
      %li.addition
        = link_to_commit('75aa29bdf4ae938df94bbe0e0a9ea174d6285ae4')
        Создание, редактирование и удаление подписей для сертификатов
      %li.deletion
        = link_to_commit('8c709ccfee4d4b8067b2e849bbfe0adbe85e54ed')
        Информация об образовании, опыте работы, любимых лекторов, друзьях в Академии, семейном положении удалена из профайла в базе данных
      %li.deletion
        = link_to_commit('ce02b156ae197940d9dc9eb02af2eb9d29c788e3')
        Удалены библиотеки, которые не используются
      %li.modification
        = link_to_commit('3c44e868e083e164358d985eaa7d5dd8f9d2ff5d')
        Исправлена ошибка переадресации после правки шрифтов
      %li.addition
        = link_to_commit('140c92d62f7358d6452ab06a9550f74e5ee74aac')
        Привязка подписей к шаблонам сертификатов
      %li.addition
        = link_to_commit('b43835c40f253dd1a9b225e3248f8f7567d2ddc2')
        Генерация сертификатов с подписями
      %li.addition
        = link_to_commit('358a975124232aa3269b35d2f479abe347eeb03d')
        Дупликация шаблонов сертификатов

    %h4 2023.12.24
    %ul.changelog
      %li.addition
        = link_to_commit('6e84be6a37a379ee715583d47214d8d5a7369342')
        Ответы на вопросы об образовании, работе, семейном положении, друзьях в Академии и любимых лекторов перенесены в опросники
      %li.deletion
        = link_to_commit('14d5ff27cc0293401a940e3b3b0017f535bdb057')
        Вопросы об образовании, работе, семейном положении, друзьях в Академии и любимых лекторов убраны из формы регистрации и с информации о профайле
      %li.modification
        = link_to_commit('1f696965cc222d04709d9a1db65a88194b54f0b1')
        Улучшена стилизация ссылок в нотификационных сообщениях
      %li.modification
        = link_to_commit('436509b06d46fe57805b48d6358deea0e18fabcf')
        Упрощен запрос в базу данных при проверке прав на просмотр группы
      %li.modification
        = link_to_commit('f6b1ae278a33f0ea07b9dff66b7eef80979ef3fe')
        К нотификационным сообщениям добавлено отступление для лучшей презентации

    %h4 2023.03.18
    %ul.changelog
      %li.modification
        = link_to_commit('100a9d2b0a565a7f134e20c9e0b964abed2a7ccc')
        = link_to_commit('1d3e8a1e9cbb2a3c73ad4ab9e91630f122230da8')
        = link_to_commit('94b88193cd16546c1074fb14dfeafe17ae977004')
        = link_to_commit('df2ef2009c1c70578d5d02643ff3c3285c3488a9')
        = link_to_commit('4f7e23e5b31802bbecf9821c25d81025bc93338a')
        = link_to_commit('13dec1fd1ebb3f05ab8da8494852938d38f21dab')
        = link_to_commit('4a897b041823f94b4125beb94a9e83db80f22579')
        = link_to_commit('d7c6744d9e40180806ed6501203a65a80d58d0d6')
        = link_to_commit('373bcc090c06ff32ddf5bb6c747ca69ce097f37b')
        = link_to_commit('988ca5e3e51f5c2a05ba220ebf500bf5d1984404')
        = link_to_commit('9675c9163ce8d82e2989b03449f85b6b31d07391')
        = link_to_commit('d8c8180c5768147c7bb9c21faf6d5cdb3ecc3bc2')
        = link_to_commit('976d3e46410f06225bcd3444b4381cdecaf6f011')
        = link_to_commit('9c9471541e63f892a23bc113b117224aabbcb317')
        = link_to_commit('4dd653a3b240303d09a97f6ff9700a2ce988a822')
        = link_to_commit('294f8919b61a91fa46a41cb47881935ae977a086')
        = link_to_commit('8beb295215bc5e60be84f34ecf447fe2bf48b972')
        = link_to_commit('c0ab846115a905cd934ef1ab09c05874948aa3b1')
        = link_to_commit('494e121ed884bd0a2471f2ef9e0c2cde9c79b65a')
        = link_to_commit('dfa720022e7a3066230cf4c2d76a8bdc7605edcb')
        = link_to_commit('1fa185871ad7eae752a9f1545738aa95094538d4')
        = link_to_commit('08fcd46a1cdfa24710c739cd20fe04f6916b5bb8')
        = link_to_commit('6408b2659dcd8f482299b9948d1a6a3a1a117fd9')
        = link_to_commit('d48e4d450d00de6829d4242bde06a4321e7dc703')
        = link_to_commit('ea16d8070f34b1db7840a3ee865515224150a5cb')
        = link_to_commit('173756476e4e32a0d74eedb52d0ce1c9747aba28')
        = link_to_commit('9a6a7932a78a34156c3e9f1571d424c082f3d5ca')
        = link_to_commit('fa676e9097244f12f61c6a619af52dc554144abc')
        Обновление версий библиотек во избежание известных уязвимостей

    %h4 2023.03.13
    %ul.changelog
      %li.addition
        = link_to_commit('729ced8d968852bf3e537c17ac6ff0d7fbb458cc')
        Локализация Select2 и стилизация под Bootstrap 3
      %li.addition
        = link_to_commit('74cd69b378d6a09032603e32f381b6a043d76623')
        Пагинация Select2 ответов сервера
      %li.modification
        = link_to_commit('b283ff1ee7672340543eaa14cdcfd9a3681721ad')
        Использование встроенных в современные браузеры интерфейсов для выбора даты и времени
      %li.addition
        = link_to_commit('c7f47cde193abd4378a8d09dee7d129994fbcf10')
        Объявление для группы теперь выводится на много строк, равно как и при редактировании
      %li.modification
        = link_to_commit('b9b0cf75aced0fdaf8a1db063dcd5bfef89fa950')
        Юнифицирована локализация, добавлены подсказки на страницу просмотра опросника и страницу списка учебных курсов.
        Изменена ширина шаблона страницы просмотра опросника
      %li.addition
        = link_to_commit('bd1307fd50499b56505ddfacd9074c7380ef6b21')
        Уборка лишнего пустого места вокруг имени учебной группы при ее сохранении
      %li.modification
        = link_to_commit('42c5c125cdcb0682d2492a41fe2aa7bc1923e5ba')
        Обновлена форма редактирования учебной группы. Стилизация, локализация и навигация
      %li.addition
        = link_to_commit('9acbd8d3379c91b6a3e0777964771c0c2ca6fa29')
        Возможность редактирования списка связанных предметов в форме редактирования учебной группы
      %li.modification
        = link_to_commit('53929367ae943c9bb23c0d56d288efcc5eebf7e7')
        Возможность удалять группу даже если есть выданные сертификаты, связанные с ней.
      %li.modification
        = link_to_commit('af82fb996c1bb29eaf461c186b01e4dd99561a2e')
        = link_to_commit('7ba96afc7517cfdad8397de179a115d6a4a16a3f')
        Статус выполнения успешных действий теперь отображается на зеленом фоне
      %li.modification
        = link_to_commit('c3b4a791219e7d738e154fed3b6c4134fd19da0a')
        = link_to_commit('7ba96afc7517cfdad8397de179a115d6a4a16a3f')
        Использование респондеров в AcademicGroupsController чтобы привести код к одиному виду
      %li.addition
        = link_to_commit('3aa39edfea55a8865b5a3da4476b0bd937bb8b58')
        Поддержка ввода кириллических символов на сервере
      %li.modification
        = link_to_commit('db8eb502d9237dce9575ab48bad7dfba5ab9552a')
        Переименование Certbot контейнера чтобы следовать уже используемым правилам именования

    %h4 2023.03.07
    %ul.changelog
      %li.modification
        = link_to_commit('4dce0e24898dfb223939ba2b2f84d9a29383f783')
        Исправлена команда для сборки образа базы данных
      %li.modification
        = link_to_commit('421b3139d0461bee652f81ee0d31b5410ed2f45c')
        = link_to_commit('b57f32ad6db86012ee42f219b63405fe96e91124')
        Исправлены ошибки локализации
      %li.addition
        = link_to_commit('646d2b6954f65f3bb5744d649c1ec9d1580fd64c')
        = link_to_commit('8e9b6a17469d0dd314448ad8e5119e98c88e1974')
        Обновленная форма для создания и редактирования предмета, улучшенная навигация, добавлена локализация
      %li.addition
        = link_to_commit('541cc79778431f45a6bbfbb67db16eb367d5646c')
        Запрет на удаление зачетной работы, имеющей студенческие оценки
      %li.addition
        = link_to_commit('a54b3539575a65ac13c017984e9ad2b7a7cb49a7')
        Запрет на удаление предмета, имеющего связи с расписанием и студенческими оценками для зачетных работы
      %li.addition
        = link_to_commit('4306b56d9599731d4086c0211fc43423223939d6')
        Отображение количества упоминаний в расписании на странице списка предметов
      %li.addition
        = link_to_commit('b55523d84f2195f3d609f16eb70658a2ba9cb33c')
        Отображение количества оценок зачетных работ на странице списка предметов
        и табличке зачетных работ на странице деталей по одному предмету
      %li.addition
        = link_to_commit('6d67511e4186f7d93a1f6f206bf59428d8bfe7cb')
        Отображение варианта на странице деталей по одному предмету
      %li.addition
        = link_to_commit('39f4ae97431495e84beed9c126566704da429cca')
        = link_to_commit('b0b6ac275d37eee7b8d81de5368af8d397ca909d')
        Подсказки что такое вариант и описание на странице редактирования и на странице просмотра предмета
      %li.addition
        = link_to_commit('7d6a7a67a375e39e5ace742d72c2c7ecb2f347aa')
        На странице просмотра предмета список академических групп теперь состоит из ссылок.
        Для тех, у кого хватает соответствующих прав
      %li.deletion
        = link_to_commit('e0a4b25905a0abee8e453c3b0f85ad172733f003')
        Удалена страница просмотра зачетной работы, она и так была пуста.
        Теперь после создания или сохранения зачетной работы пользователя переадресовывает на страницу предмета

    %h4 2023.03.02
    %ul.changelog
      %li.addition
        = link_to_commit('06212aef4f20b667ccef185dd0dc1ce5133b0676')
        SSL сертификат
      %li.addition
        = link_to_commit('2720a4e7edd520e8e9b7da090987aea67e96a54a')
        = link_to_commit('090e31769c47f11efe828c5cc29298a728a0bc9f')
        = link_to_commit('fa6f59500ea0481a03816017c8186ecd5cdceaae')
        = link_to_commit('89b3b7017df1ba3ac3fe04d612a19e11d92e8e80')
        = link_to_commit('37e4d6e9548d106643a685eefcf72c84231d3fa1')
        Чистка кода и ремонт инфраструктуры
      %li.addition
        = link_to_commit('c033682bfc710c15ac58119183446eac7dc561b2')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Страница для отображения списка учебных курсов администраторам
      %li.addition
        = link_to_commit('ad9c3dcdbcba06b542e780a81d57c22990268c7c')
        = link_to_commit('3e2b87da426372480a3b28e31b4c5801e44657f9')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Создание новых и редактирование существующих учебных курсов
      %li.addition
        = link_to_commit('c6f5c87a3c5fa506e83b09c796ac79ebfdccd7ae')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Удаление учебных курсов
      %li.modification
        = link_to_commit('6c9ba88f2f013c639a09ee3a301885b612faf673')
        Ссылка на список заявлений по учебному курсу убрана из бокового меню и добавлена на страницу списка учебных курсов

    %h4 2022.10.18
    %ul.changelog
      %li.addition
        = link_to_commit('214a14661d6a13c472276fd30584ca4d8d4e8905')
        Для домашней страницы, список групп, где пользователь является куратором
      %li.modification
        = link_to_commit('6f467290b50aa106f9c1ac09d71a0293b5e2df1e')
        Обновление вида страницы в списке групп. Локализация и ссылки на доступные действия в виде иконок
      %li.addition
        = link_to_commit('ff1697d3dbb6c7677347f8a5d5ef7fd58da3a328')
        Поддержка нумерации страниц для страницы списка групп. Локализация кнопок нумерации страниц
      %li.modification
        = link_to_commit('bea3bf4ff52cee1cfc1d62167820cfd6a9058a33')
        Изменение цвета всех иконок редактирования на желтый
      %li.modification
        = link_to_commit('355748b98ae16fdadf551fa2201c2d009c733726')
        Устранение ошибок в текстах локализации
      %li.addition
        = link_to_commit('f431c1ddfc5f0bc5dd6133818ba4f7a37365da27')
        Санитизация поисковых запросов во избежание SQL инъекций
      %li.modification
        = link_to_commit('6f4dec40fd675983b83d9c2d06eb9af941a3beb1')
        Убрано N+1 запросы при подсчете количества активных студентов на странице списка групп
      %li.modification
        = link_to_commit('6c5c9d7c04830e7e774087836407c799519cc5a1')
        Рефакторинг общего компонента кнопки для поддержания размера и подсказки
      %li.addition
        = link_to_commit('dbdd699a528db4c404d23a6d646f3d2ddbca735d')
        Выравнивание кнопок действий для списка учебного расписания
      %li.addition
        = link_to_commit('dece7627ef87479c6667e0eeaa5141bb93de6637')
        Расширенный поиск для списка групп
      %li.addition
        = link_to_commit('33be1c1e81e462a62b89c430265e66debfc4fa1e')
        Ссылка на комит для журнала изменений

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.09.03
    %ul.changelog
      %li.deletion Удаление скриптов устаревших
      %li.modification Уравнение кнопок действий по правой стороне для таблиц
      %li.addition Не отображать колонку с кнопками действий, если не хватает прав на одну
      %li.addition Сортировка шаблонов сертификатов по ID и отображение ID на странице списка шаблонов
      %li.addition Отображение количества выдаваемых сертификатов по каждому шаблону на странице списка шаблонов
      %li.modification Сообщения о незаполненных документах теперь отображаются выше блока с расписанием и блока со специальными заметками
      %li.addition Добавлено заголовок для блока заявлений на обучение на странице студента
      %li.modification Центрирование заголовка блока психологического теста на странице студента
      %li.addition Добавлен блок со списком сертификатов на домашнюю страницу
      %li.addition Скрытие полей с токеном сброса пароля на странице журнала версий студента
      %li.addition Добавлено журналирование версий на сертификаты, шаблоны, шрифты

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.31
    %ul.changelog
      %li.addition Импорт сертификатов из CSV файла

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.18
    %ul.changelog
      %li.modification Исправлена ошибка невозможности отображения некоторых записей в журнале действий
      %li.addition Пагинация для журнала действий на странице студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.07
    %ul.changelog
      %li.addition Сравнение как было и как стало в журнале действий
      %li.addition Отдельный журнал действий на странице студента
      %li.addition Измения в журнале действий показываются только если хватает прав на каждую отдельную запись

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.06
    %ul.changelog
      %li.modification Значительное уменьшение количества запросов в базу данных при проверке прав пользователя

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.07.17
    %ul.changelog
      %li.addition Страница статистики по виданным сертифыкатам
      %li.addition Редактирование типа шаблона сертификата
      %li.addition Редактирование принадлежности к учбоному заведению для шаблона сертификата

    %h4 2022.07.10
    %ul.changelog
      %li.addition Создание, удаление и редактирование шрифтов для шаблонов сертификатов
      %li.addition Загрузка файла шаблона сертификата
      %li.addition Создание элементов шаблона сертификата с поддержкой синтаксиса mustache
      %li.addition Предварительный просмотр шаблона сертификата
      %li.addition Генерация сертификата

    %h4 2022.02.15
    %ul.changelog
      %li.addition Поддержка необязательных вопросов
      %li.addition Отображение списка опросников
      %li.addition Отображение детальной станицы опросника

    %h4 2022.02.13
    %ul.changelog
      %li.addition Вопросы в вопроснике отсортированы по позиции
      %li.addition Ответы на странице студента сгрупированы по имени опросника
      %li.addition Отображение описания опросника на странице студента
      %li.addition Список незаполненных документов всегда отображается на странице студента и в личном кабинете
      %li.modification Назначенные опросники не пропадают при отзыве заявки
      %li.modification Отображение формы вопросника приводит к значительно меньшему количеству запросов базу данных
      %li.modification Отображение готовых ответов на странице студента приводит к значительно меньшему количеству запросов базу данных
      %li.deletion Удален статус верификации студента

    %h4 2022.02.12
    %ul.changelog
      %li.addition Сортировка зачетных работ по алфавиту на странице предмета
      %li.addition Почтовое напоминание про необработанные заявки администраторам курса
      %li.modification Обновлена версия Ruby on Rails до 5.0.7

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2021.12.04
    %ul.changelog
      %li.addition Видна дата выдачи сертификата
      %li.addition Связанние группы видно на странице предмета
      %li.addition На странице предмета видно количество связанных расписаний
      %li.modification Предмет относится к группе напрямую

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2021.11.29
    %ul.changelog
      %li.addition Список сертификатов на странице студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2020.11.22
    %ul.changelog
      %li.addition Статистика количества студентов в группах по годам

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2020.01.24
    %ul.changelog
      %li.addition Интегрирован внешний сервис для рассылки почты

    %h4 2019.11.24
    %ul.changelog
      %li.modification Исправлена ошибка очистки от устаревших Docker образов
      %li.modification Исправлена ошибка генерации списка студентов PDF

    %h4 2019.11.22
    %ul.changelog
      %li.modification Обновлена версия Ruby до 2.4.9
      %li.modification Обновлена версия Node.js до 10.17
      %li.modification Обновлена система развертывания на главный сервер

    %h4 2018.10.07
    %ul.changelog
      %li.modification Описание програм теперь разделено на параграфы
      %li.modification Перечень курсов в описании програм теперь не обязателен
      %li.addition Перечень курсов теперь отсортирован по позиции

    %h4 2018.10.06
    %ul.changelog
      %li.addition Пользователь может отписаться от рассылки завтрашнего расписания по ссылке из письма
      %li.addition Пользователь может редактировать список своих подписок
      %li.modification Исправлен неверный формат минут в рассылке завтрашнего расписания

    %h4 2018.09.30
    %ul.changelog
      %li.addition Автоматическая рассылка завтрашнего расписания на почту

    %h4 2018.09.28
    %ul.changelog
      %li.addition Валидация при регистрации, что пользователю уже исполнилось 16 полных лет

    %h4 2018.09.22
    %ul.changelog
      %li.modification Убраны лишние поля чтобы соответсвовать законам о хранении персональних данных

    %h4 2018.09.21
    %ul.changelog
      %li.addition Статистика по активности студентов в группе

    %h4 2018.09.20
    %ul.changelog
      %li.addition Студент видит свои предидущие группы на домашней странице

    %h4 2018.09.19
    %ul.changelog
      %li.addition Реализована верификациия студентов

    %h4 2018.08.03
    %ul.changelog
      %li.modification Результаты успеваемости теперь отображаются в цыфрах если максимальний бал больше чем 1
      %li.modification Исправлена орфографическая ошибка в письме при добавлении студента в группу
      %li.modification Локализирован диалог удаления
      %li.deletion Убрана недоделанная логика разметки сертификатов
      %li.addition Тепер можно сохранять спецальные заметки про студентов, смотреть их и удалять
      %li.addition Тепер можно искать студента по имени

    %h4 2017.11.04
    %ul.changelog
      %li.addition К предметам добавлены версии

    %h4 2017.10.31
    %ul.changelog
      %li.addition Отмечание посещаемости возможно даже после утраты сигнала
      %li.addition Не синхронизированные данные посещаемости сохраняются даже если свернуть браузер
      %li.addition Сохранненные данные посещаемости синхронизируются при обновлении страницы
      %li.addition При отмечании посещаемости происходит переключение на следующего студента автоматически

    %h4 2017.10.29
    %ul.changelog
      %li.addition Добавлена статистика посещаемости для группы
      %li.addition Лучшая смена фотографий студента для учета посещаемости

    %h4 2017.10.27
    %ul.changelog
      %li.addition Добавлена Google Analytics

    %h4 2017.10.25
    %ul.changelog
      %li.addition Администратор может добавлять, редактировать, удалять и видеть список зачетных работ
      %li.addition Улучшено отображение списка предметов и одиничного предмета
      %li.addition Студент может видеть таблицу успеваемости на странице группы
      %li.addition Староста может редактировать успеваемость
      %li.modification На таблице посещаемости теперь видно нижнюю и правую границы
      %li.deletion Телефон и имейл куратора теперь не видно на странице группы

    %h4 2017.10.06
    %ul.changelog
      %li.addition Студент может видеть свою посещаемость
      %li.addition Привилегированный пользователь может отмечать посещаемость

    %h4 2017.09.23
    %ul.changelog
      %li.addition
        Администратор может видеть когда студент присоединился к группе,
        покинул её и статус или группа окончила курс на тот момент

    %h4 2017.09.21
    %ul.changelog
      %li.addition Более понятное разделение экрана входа на логин и регистрацию
      %li.addition
        В заголовке браузера отображается сначала более спецфическая информация, а только потом общий заголовок сайта
      %li.addition Студент может буть добавлен сразу в несколько групп
      %li.deletion Студента нельзя исключить сразу из всех групп
      %li.addition Администратор может видеть все текущие группы студента
      %li.addition Студент может видеть все свои текущие группы
      %li.addition Администратор может исключать студента из групп по одной
      %li.addition Студент может подать заявку на новую программу обучения даже если он уже где-то обучается

    %h4 2017.08.25
    %ul.changelog
      %li.addition Администратор может видеть предидущие группы студента

    %h4 2017.05.20
    %ul.changelog
      %li.modification Cкролбар отображается в сайдбаре только когда нужно

    %h4 2017.01.31
    %ul.changelog
      %li.addition Включен графический интерфейс асинхронных задач для администратора

    %h4 2017.01.29
    %ul.changelog
      %li.addition К общему списку событий расписания добавлены страницы

    %h4 2017.01.24
    %ul.changelog
      %li.modification Индикатор загрузки для расписания теперь отображается не в середине таблицы, а поверх
      %li.addition Добавлена возможность отображения предидущих событий личного расписания
      %li.addition Добавлена возможность отображения предидущих событий расписания группы

    %h4 2017.01.14
    %ul.changelog
      %li.addition Добавлен индикатор загрузки для расписания

    %h4 2017.01.08
    %ul.changelog
      %li.modification Errbit заменен на Sentry (репортинг ошибок)

    %h4 2016.12.31
    %ul.changelog
      %li.addition Добавлен логотип Академии
      %li.addition Исправлена уязвимость 'window.opener' во время открытия новых вкладок
      %li.addition Добавлено боковое меню
      %li.deletion Убрано меню действий

    %h4 2016.12.11
    %ul.changelog
      %li.modification Изменен хостинг

    %h4 2016.12.07
    %ul.changelog
      %li.modification
        Исправлена ошибка невозможности открытия страницы группы вследствие отсутствия возможности предварительного
        формирования страницы на сервере

    %h4 2016.12.02
    %ul.changelog
      %li.addition Проект подготовлен для запуска в докер контейнерах для розработки
      %li.addition Проект подготовлен для публикации на новий хостинг в докер контейнерах
      %li.modification Теперь можно создавать группы с каким угодно именем
      %li.modification Исправлена ошибка с неверной темой писем про зачисление и отчисление с украинской локализацией

    %h4 2016.10.06
    %ul.changelog
      %li.addition Обновлены версии ПО

    %h4 2016.09.28
    %ul.changelog
      %li.addition Можно подать только одну заявку
      %li.addition Цвет титульной строки мобильного Chrome соответсвует цвету заголовка

    %h4 2016.09.22
    %ul.changelog
      %li.addition Администратор видит журнал действий

    %h4 2016.09.21
    %ul.changelog
      %li.addition Лучшее отображение списка слуг группы на мобильных устройствах
      %li.addition Лучшее отображение списка студентов группы на мобильных устройствах
      %li.deletion Убраны неиспользуемые поля из базы данных
      %li.modification Исправлена ошибка что после выпуска группы студент не мог подать новую заявку

    %h4 2016.09.20
    %ul.changelog
      %li.addition Добавлена проверка стиля Ruby кода

    %h4 2016.06.11
    %ul.changelog
      %li.addition Для администратора невидимые программы обучения показаны серым цветом
      %li.addition Абитуриенты видят контакты администратора курса после подачи заявки на программу обучения
      %li.addition Электронные адреса теперь отображаются как ссылки, а не просто текст

    %h4 2016.05.28
    %ul.changelog
      %li.addition Список групп отсортирован по дате выпуска и названию
      %li.addition В списке групп отображается количество активных студентов
      %li.addition Автоматическая ориентация изображений сфотографированных на перевернутый телефон
      %li.addition Перевод для нескольких полей при регистрации
      %li.modification Логика валидации телефонного номера

    %h4 2016.05.01
    %ul.changelog
      %li.addition При регистрации нужно указать духовного учителя, если есть инициация

    %h4 2016.04.30
    %ul.changelog
      %li.addition Письмо при зачислении в группу
      %li.addition Письмо при зачислении/отчислении из группы сожержит адрес координатора в reply to
      %li.addition Больше автотестостов для переключения языка
      %li.modification Изменен шаблон письма при зачислении/отчислении из группы

    %h4 2016.03.20
    %ul.changelog
      %li.addition Автоматическое письмо студенту при отчислении из группы
      %li.addition Настройки локализации сохраняются в пользователя

    %h4 2016.02.22
    %ul.changelog
      %li.addition Добавлен Webpack
      %li.modification React теперь собирается через Webpack
      %li.modification Часть ресурсов теперь управляется NPM
      %li.deletion Устранен Bower

    %h4 2015.12.04
    %ul.changelog
      %li.modification Исправлена ошибка невозможности смены локализации
      %li.addition Создание шаблона сертификата
      %li.addition Редактирование шаблона сертификата
      %li.addition Разметка шаблона сертификата
      %li.addition Удаление шаблона сертификата
      %li.addition Просмотр списка шаблонов сертификатов

    %h4 2015.11.28
    %ul.changelog
      %li.addition Добавлено колесо загрузки на основные действия пользователя

    %h4 2015.09.09
    %ul.changelog
      %li.addition Можно фильтровать список людей по заявке на обучение
      %li.addition Время подачи заявки на обучение теперь видно в списке людей
      %li.addition Время регистрации тепер видно в детальной информации про человека
      %li.addition
        Время регистрации тепер видно в списке людей для тех кто не подал заявление на обчение и
        не является активным студентом

    %h4 2015.08.24
    %ul.changelog
      %li.addition На странице группы видно сколько матаджи и прабху

    %h4 2015.07.19
    %ul.changelog
      %li.modification
        Исправлена ошибка когда не показывалось персональное расписание и расписание группы
        если не был назначен преподаватель
      %li.modification Исправлена ошибка сортировки персонального расписания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.18
    %ul.changelog
      %li.modification При регистрации теперь не обязательно указывать имя и фамилию если есть духовное имя
      %li.modification При регистрации теперь не обязательно указывать образование и рабочую специальность

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.16
    %ul.changelog
      %li.modification При экспортировании списка группы, фотографии большего размера
      %li.modification
        Исправлена ошибка прав доступа к экспорту списка группы,
        когда староста одной группы имел доступ ко всем остальным
      %li.addition Возможность печати шаблона для учета посещаемости

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.10
    %ul.changelog
      %li.addition Администратор видит предупреждение если абитуриент несовершеннолетний
      %li.addition Добавлен журнал изменений

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.09
    %ul.changelog
      %li.addition Расписание занятий видно на странице группы
      %li.addition Администратор может из интерфейса пометить что группа окончила обучение
      %li.addition Логирование всех действий с объектами базы данных

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.08
    %ul.changelog
      %li.addition Персональное расписание занятий для студента и преподавателя на домашней странице

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.15
    %ul.changelog
      %li.addition Расписание занятий может иметь тему

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.12
    %ul.changelog
      %li.addition Администраторм может клонировать запись расписания занятий во время создания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.08
    %ul.changelog
      %li.modification Теперь короткие имена преподавателей в таблице расписания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.06
    %ul.changelog
      %li.addition Староста и преподаватель могут экспортировать список группы в PDF вместе с фотографиями

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.05
    %ul.changelog
      %li.addition Администратор может создавать, редактировать, удалять и просматривать расписание занятий

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.02
    %ul.changelog
      %li.modification Исправлена ошибка когда студент не мог видеть фото одногрупников если группа окончила обучение

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.25
    %ul.changelog
      %li.addition В базе данных можно помечать что группа окончила обучение

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.13
    %ul.changelog
      %li.modification jquery-autocomplete заменен на select2 и архитектура улучшена

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.12
    %ul.changelog
      %li.modification Исправлена ощибка обработки имен при экспорте данных для печати студенческих билетов
      %li.deletion
        Убрана постобработка имен при регистрации пользователей, теперь можно использовать любой регистр клавиатуры

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.06
    %ul.changelog
      %li.addition Администратор может создавать, редактировать, удалять и просматривать академические дисциплины

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.04.29
    %ul.changelog
      %li.addition Скрипт для добавления существующих студентов в портал

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.28
    %ul.changelog
      %li.addition Улучшено тестирование кода

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.24
    %ul.changelog
      %li.addition Обновлены версии програмного обеспечения

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.08
    %ul.changelog
      %li.addition На странице группы видно список студентов

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.01
    %ul.changelog
      %li.addition
        Добавлены проверки чтоб не отображать кнопки и ссылки если всеравно не хватает праб чтобы ими воспользоваться

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.25
    %ul.changelog
      %li.addition
        Студент может видеть куратора, администратора и старосту группы на странице группы.
        А также видит ссылку на группу на домашней странице

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.13
    %ul.changelog
      %li.addition Администратор может оставить заметку про студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.12
    %ul.changelog
      %li.addition Студент может видеть номер группы и объявление для группы на своей домашней странице
      %li.addition Администратор может удалять студентов из группы

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.10
    %ul.changelog
      %li.addition В списке пользователей администратор может видеть уменьшенные фотографии, заявления и номера групп
      %li.addition Список пользователей теперь имеет страницы

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.09
    %ul.changelog
      %li.addition Администратор может добавлять студентов в группу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.12.17
    %ul.changelog
      %li.addition Администратор может подать заявление за студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.14
    %ul.changelog
      %li.addition Открыта регистрация абитуриентов

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.05
    %ul.changelog
      %li.addition Возможность в базе данных пометить курсы как невидимыми
      %li.addition Новий психологический тест

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h2.text-center ...

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2013.10.22
    %ul.changelog
      %li.addition Начало разработки
