.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2025.05.14
    %ul.changelog
      %li.addition
        = link_to_commit('2002543f3d8972826c8239119225e0ef4362940f')
        = link_to_commit('dadeb5c67aa0195a597a399e5ad330b4de828b49')
        Інтерфейс для видалення сертифікатів
      %li.addition
        = link_to_commit('d19238f918a8bcb43f19946761ea7885267c2347')
        Інтерфейс для конфігурування валідації середнього балу сертифікату
      %li.addition
        = link_to_commit('7e7254b89a04af2931f880f31c3f37b7f61b04fb')
        Покращення локального розробницького оточення
      %li.modification
        = link_to_commit('4a801ec03657b5cecc1c0bc88a8a6f624f3fc950')
        Оновлено і виправлено екзек'ютор CI

    %h4 2024.12.25
    %ul.changelog
      %li.modification
        = link_to_commit('06cb7f41b6adc9381413842871fadd06418f6206')
        Оновлено версії бібліотек
      %li.modification
        = link_to_commit('140054731c82e431c5237bf03701f151452c4377')
        Виправлено скрипти розгортки серверу
      %li.deletion
        = link_to_commit('46e896ed29c9ac300be8ade4ea3c46a7851fcdb2')
        Видалено застарілі конфігурації

    %h4 2024.12.07
    %ul.changelog
      %li.addition
        = link_to_commit('2d41e686c801fe2b16ec6659a19e5ad6448233cb')
        Додано можливість обрати колір тексту елеменіта шаблону сертифікату
      %li.modification
        = link_to_commit('18a33084b1ddd17418b2f2fef312cfae1b470d36')
        Оновлено версію ОС та середу запуску серверу
      %li.deletion
        = link_to_commit('f07b398e238629342c61f98d08bbf5639e395ee2')
        Прибрано інтеграцію з одним із сервісів аналізу продуктивності який не використовується
      %li.modification
        = link_to_commit('db00b757332aa50d5522de36d683fbba07da41ec')
        Оновлено версію кешуючих скриптів на CI

    %h4 2024.11.16
    %ul.changelog
      %li.addition
        = link_to_commit('594463168fe51076ac5ba28cf820f6d58e049ee8')
        Додано відображення списку груп у розсилці розкладу для студентів
      %li.addition
        = link_to_commit('5ee298f8fbae90592582f49ff84d7dfc171d7e6f')
        Додано контакти адміністраторів груп до розсилок розкладу для студентів та викладачів
      %li.addition
        = link_to_commit('767a79724bd2f257301e3234ab74c429c63517a8')
        Додано відображення реєстраційного номеру студента на домашню сторінку
      %li.modification
        = link_to_commit('447d05296cbda20daa244b4718ec6161ad51b87d')
        Оновлено залежності збіршику проекту та прибрано застарілі конфігураційні параметри
      %li.deletion
        = link_to_commit('fede5bae26357e58d9544eb9c6fb7e779620bcea')
        Прибрано застарілі телефони Академії з розсилок

    %h4 2024.01.14
    %ul.changelog
      %li.modification
        = link_to_commit('c8a022162a14526481fd3ad1f4e8240fe6356e67')
        = link_to_commit('2d0c414fd1ddec1811736ffac9427871b38a914e')
        Оновлення версій бібліотек задля уникнення відомих вразливостей та виправлення помилки неможливості перегляду опису учбового курсу
      %li.addition
        = link_to_commit('78bb063ace0170f11d400bcb4f9e28a0973094b9')
        Відображення на домашній сторінці груп, у яких користувач є координатором
      %li.addition
        = link_to_commit('4a4cac88a8ad61ef203f5392744e098fb2e71dfe')
        = link_to_commit('63138e9c028b682e9ca1df53238aaf1f555b8a74')
        Відображення на домашній сторінці груп, у яких користувач є старостою

    %h4 2024.01.07
    %ul.changelog
      %li.addition
        = link_to_commit('74c921fd661665cf119dcfe5d06c69202f75487b')
        Відображення списку сертифікатів для кожного шаблону
      %li.addition
        = link_to_commit('c2c557b3fdef91a7c66114fd56a23cad4e09618a')
        Відображення середнього балу у списку сертифікатів на сторінці перегляду студента та домашній сторінці

    %h4 2024.01.01
    %ul.changelog
      %li.addition
        = link_to_commit('75aa29bdf4ae938df94bbe0e0a9ea174d6285ae4')
        Створення, редагування і видалення підписів для сертифікатів
      %li.deletion
        = link_to_commit('8c709ccfee4d4b8067b2e849bbfe0adbe85e54ed')
        Інформацію про освіту, досвід роботи, улюбленийх лекторів, друзів у Академії, сімейний стан видалено з профайлу у базі даних
      %li.deletion
        = link_to_commit('ce02b156ae197940d9dc9eb02af2eb9d29c788e3')
        Видалено бібліотеки які не використовуються
      %li.modification
        = link_to_commit('3c44e868e083e164358d985eaa7d5dd8f9d2ff5d')
        Виправлено помилку переадресування після правки шрифтів
      %li.addition
        = link_to_commit('140c92d62f7358d6452ab06a9550f74e5ee74aac')
        Прив'язка підписів до шаблонів сертифікатів
      %li.addition
        = link_to_commit('b43835c40f253dd1a9b225e3248f8f7567d2ddc2')
        Генерація сертифікатів з підписами
      %li.addition
        = link_to_commit('358a975124232aa3269b35d2f479abe347eeb03d')
        Дуплікація шаблонів сертифікатів

    %h4 2023.12.24
    %ul.changelog
      %li.addition
        = link_to_commit('6e84be6a37a379ee715583d47214d8d5a7369342')
        Відповіді на запитання про освіту, роботу, сімейний стан, друзів у Академії та улюбленийх лекторів перенесено у опитувальники
      %li.deletion
        = link_to_commit('14d5ff27cc0293401a940e3b3b0017f535bdb057')
        Запитання про освіту, роботу, сімейний стан, друзів у Академії та улюбленийх лекторів прибрано з форми реєстрації та з інформації про профайл
      %li.modification
        = link_to_commit('1f696965cc222d04709d9a1db65a88194b54f0b1')
        Покращено стилізацію посилань у нотифікаційних повідомленнях
      %li.modification
        = link_to_commit('436509b06d46fe57805b48d6358deea0e18fabcf')
        Спрощено запит у базу даних при перевірці прав на перегляд групи
      %li.modification
        = link_to_commit('f6b1ae278a33f0ea07b9dff66b7eef80979ef3fe')
        До нотифікаційних повідомлень додано відступ для кращої презентації

    %h4 2023.03.18
    %ul.changelog
      %li.modification
        = link_to_commit('100a9d2b0a565a7f134e20c9e0b964abed2a7ccc')
        = link_to_commit('1d3e8a1e9cbb2a3c73ad4ab9e91630f122230da8')
        = link_to_commit('94b88193cd16546c1074fb14dfeafe17ae977004')
        = link_to_commit('df2ef2009c1c70578d5d02643ff3c3285c3488a9')
        = link_to_commit('4f7e23e5b31802bbecf9821c25d81025bc93338a')
        = link_to_commit('13dec1fd1ebb3f05ab8da8494852938d38f21dab')
        = link_to_commit('4a897b041823f94b4125beb94a9e83db80f22579')
        = link_to_commit('d7c6744d9e40180806ed6501203a65a80d58d0d6')
        = link_to_commit('373bcc090c06ff32ddf5bb6c747ca69ce097f37b')
        = link_to_commit('988ca5e3e51f5c2a05ba220ebf500bf5d1984404')
        = link_to_commit('9675c9163ce8d82e2989b03449f85b6b31d07391')
        = link_to_commit('d8c8180c5768147c7bb9c21faf6d5cdb3ecc3bc2')
        = link_to_commit('976d3e46410f06225bcd3444b4381cdecaf6f011')
        = link_to_commit('9c9471541e63f892a23bc113b117224aabbcb317')
        = link_to_commit('4dd653a3b240303d09a97f6ff9700a2ce988a822')
        = link_to_commit('294f8919b61a91fa46a41cb47881935ae977a086')
        = link_to_commit('8beb295215bc5e60be84f34ecf447fe2bf48b972')
        = link_to_commit('c0ab846115a905cd934ef1ab09c05874948aa3b1')
        = link_to_commit('494e121ed884bd0a2471f2ef9e0c2cde9c79b65a')
        = link_to_commit('dfa720022e7a3066230cf4c2d76a8bdc7605edcb')
        = link_to_commit('1fa185871ad7eae752a9f1545738aa95094538d4')
        = link_to_commit('08fcd46a1cdfa24710c739cd20fe04f6916b5bb8')
        = link_to_commit('6408b2659dcd8f482299b9948d1a6a3a1a117fd9')
        = link_to_commit('d48e4d450d00de6829d4242bde06a4321e7dc703')
        = link_to_commit('ea16d8070f34b1db7840a3ee865515224150a5cb')
        = link_to_commit('173756476e4e32a0d74eedb52d0ce1c9747aba28')
        = link_to_commit('9a6a7932a78a34156c3e9f1571d424c082f3d5ca')
        = link_to_commit('fa676e9097244f12f61c6a619af52dc554144abc')
        Оновлення версій бібліотек задля уникнення відомих вразливостей

    %h4 2023.03.13
    %ul.changelog
      %li.addition
        = link_to_commit('729ced8d968852bf3e537c17ac6ff0d7fbb458cc')
        Локалізація Select2 та стилізація під Bootstrap 3
      %li.addition
        = link_to_commit('74cd69b378d6a09032603e32f381b6a043d76623')
        Пагінація Select2 відповідей сервера
      %li.modification
        = link_to_commit('b283ff1ee7672340543eaa14cdcfd9a3681721ad')
        Використання вбудованих в сучасні браузери інтерфейсів для вибору дати та часу
      %li.addition
        = link_to_commit('c7f47cde193abd4378a8d09dee7d129994fbcf10')
        Об'ява для групи тепер виводиться на багато рядків, так само як і при редагуванні
      %li.modification
        = link_to_commit('b9b0cf75aced0fdaf8a1db063dcd5bfef89fa950')
        Юніфіковано локалізацію, додано підказки на сторінку перегляду опитувальника та сторінку списку учбових курсів.
        Змінено ширину шабону сторінки перегляду опитувальника
      %li.addition
        = link_to_commit('bd1307fd50499b56505ddfacd9074c7380ef6b21')
        Прибирання зайвого пустого місця навколо імені учбової групи під час її збереження
      %li.modification
        = link_to_commit('42c5c125cdcb0682d2492a41fe2aa7bc1923e5ba')
        Оновлена форма для редагування учбової групи. Стилізація, локалізація, та навігація
      %li.addition
        = link_to_commit('9acbd8d3379c91b6a3e0777964771c0c2ca6fa29')
        Можливість редагування списку пов'язаних предметів на формі редагування учбової групи
      %li.modification
        = link_to_commit('53929367ae943c9bb23c0d56d288efcc5eebf7e7')
        Можливість видаляти групу навіть якщо є видані сертифікати що пов'язані з нею
      %li.modification
        = link_to_commit('af82fb996c1bb29eaf461c186b01e4dd99561a2e')
        = link_to_commit('7ba96afc7517cfdad8397de179a115d6a4a16a3f')
        Статус виконання успішних дій тепер відображається на зеленому фоні
      %li.modification
        = link_to_commit('c3b4a791219e7d738e154fed3b6c4134fd19da0a')
        = link_to_commit('7ba96afc7517cfdad8397de179a115d6a4a16a3f')
        Використання респондерів у AcademicGroupsController щоб привести код до одного вигляду
      %li.addition
        = link_to_commit('3aa39edfea55a8865b5a3da4476b0bd937bb8b58')
        Підтримка вводу кириличних символів на сервері
      %li.modification
        = link_to_commit('db8eb502d9237dce9575ab48bad7dfba5ab9552a')
        Переіменування Certbot контейнеру щоб слідувати правилам які вже використовуються іменування

    %h4 2023.03.07
    %ul.changelog
      %li.modification
        = link_to_commit('4dce0e24898dfb223939ba2b2f84d9a29383f783')
        Виправлено команду для збірки образу бази даних
      %li.modification
        = link_to_commit('421b3139d0461bee652f81ee0d31b5410ed2f45c')
        = link_to_commit('b57f32ad6db86012ee42f219b63405fe96e91124')
        Виправлено помилки локалізації
      %li.addition
        = link_to_commit('646d2b6954f65f3bb5744d649c1ec9d1580fd64c')
        = link_to_commit('8e9b6a17469d0dd314448ad8e5119e98c88e1974')
        Оновлена форма для створення і редагування предмету, поліпшена навігація, додана локалізація
      %li.addition
        = link_to_commit('541cc79778431f45a6bbfbb67db16eb367d5646c')
        Заборона на видалення залікової роботи яка має студентські оцінки
      %li.addition
        = link_to_commit('a54b3539575a65ac13c017984e9ad2b7a7cb49a7')
        Заборона на видалення предмету який має зв'язки з розкладом та студентськими оцінками на залікові роботи
      %li.addition
        = link_to_commit('4306b56d9599731d4086c0211fc43423223939d6')
        Відображення кількості згадувань у розкладі на сторінці списку предметів
      %li.addition
        = link_to_commit('b55523d84f2195f3d609f16eb70658a2ba9cb33c')
        Відображення кількості оцінок на залікові роботи на сторінці списку предметів
        та табличці залікових робіт на сторінці деталей по одному предмету
      %li.addition
        = link_to_commit('6d67511e4186f7d93a1f6f206bf59428d8bfe7cb')
        Відображення варіанту на сторінці деталей по одному предмету
      %li.addition
        = link_to_commit('39f4ae97431495e84beed9c126566704da429cca')
        = link_to_commit('b0b6ac275d37eee7b8d81de5368af8d397ca909d')
        Підказки що таке варіант і опис на сторінці редагування і на сторінці перегляду предмету
      %li.addition
        = link_to_commit('7d6a7a67a375e39e5ace742d72c2c7ecb2f347aa')
        На сторінці перегляду предмету список академічних груп тепер складається із посилань.
        Для тих у кого вистачає відповідних прав
      %li.deletion
        = link_to_commit('e0a4b25905a0abee8e453c3b0f85ad172733f003')
        Видалено сторінку перегляду залікової роботи, вона і так була пуста.
        Тепер після створення або збереження залікової роботи, користувача переадресовує на сторінку предмету

    %h4 2023.03.02
    %ul.changelog
      %li.addition
        = link_to_commit('06212aef4f20b667ccef185dd0dc1ce5133b0676')
        SSL сертифікат
      %li.addition
        = link_to_commit('2720a4e7edd520e8e9b7da090987aea67e96a54a')
        = link_to_commit('090e31769c47f11efe828c5cc29298a728a0bc9f')
        = link_to_commit('fa6f59500ea0481a03816017c8186ecd5cdceaae')
        = link_to_commit('89b3b7017df1ba3ac3fe04d612a19e11d92e8e80')
        = link_to_commit('37e4d6e9548d106643a685eefcf72c84231d3fa1')
        Чистка коду і ремонт інфраструктури
      %li.addition
        = link_to_commit('c033682bfc710c15ac58119183446eac7dc561b2')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Сторінка для відображення списку учбових курсів адміністраторам
      %li.addition
        = link_to_commit('ad9c3dcdbcba06b542e780a81d57c22990268c7c')
        = link_to_commit('3e2b87da426372480a3b28e31b4c5801e44657f9')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Створення нових і редагування існуючих учбових курсів
      %li.addition
        = link_to_commit('c6f5c87a3c5fa506e83b09c796ac79ebfdccd7ae')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Видалення учбових курсів
      %li.modification
        = link_to_commit('6c9ba88f2f013c639a09ee3a301885b612faf673')
        Посилання на список зяав по учбовому курсу прибрано із бокового меню та додано на сторінку списку учбових курсів

    %h4 2022.10.18
    %ul.changelog
      %li.addition
        = link_to_commit('214a14661d6a13c472276fd30584ca4d8d4e8905')
        Для домашньої сторінки, список груп де користувач є куратором
      %li.modification
        = link_to_commit('6f467290b50aa106f9c1ac09d71a0293b5e2df1e')
        Оновлення вигляду сторінки списку груп. Локалізація та посилання на доступні дії у вигляді іконок
      %li.addition
        = link_to_commit('ff1697d3dbb6c7677347f8a5d5ef7fd58da3a328')
        Підтримка пагінації для сторінки списку груп. Локалізація кнопок пагінації
      %li.modification
        = link_to_commit('bea3bf4ff52cee1cfc1d62167820cfd6a9058a33')
        Зміна кольору всіх іконок редагування на жовтий
      %li.modification
        = link_to_commit('355748b98ae16fdadf551fa2201c2d009c733726')
        Виправлення помилок у текстах локализації
      %li.addition
        = link_to_commit('f431c1ddfc5f0bc5dd6133818ba4f7a37365da27')
        Санитизація пошукових запитів щоб уникнути SQL ін'єкцій
      %li.modification
        = link_to_commit('6f4dec40fd675983b83d9c2d06eb9af941a3beb1')
        Прибрано N+1 запити при підрахунку кількості активних студентів на сторінці списку груп
      %li.modification
        = link_to_commit('6c5c9d7c04830e7e774087836407c799519cc5a1')
        Рефакторинг загального компоненту кнопки для підтримки розміру та підказки
      %li.addition
        = link_to_commit('dbdd699a528db4c404d23a6d646f3d2ddbca735d')
        Вирівнювання кнопок дій для списку навчального розкладу
      %li.addition
        = link_to_commit('dece7627ef87479c6667e0eeaa5141bb93de6637')
        Розширений пошук для списку груп
      %li.addition
        = link_to_commit('33be1c1e81e462a62b89c430265e66debfc4fa1e')
        Посилання на коміт для журналу змін

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.09.03
    %ul.changelog
      %li.deletion Видалення скриптів що застаріли
      %li.modification Рівняння кнопок дій по правій стороні для таблиць
      %li.addition Не відображати колонку з кнопками дій якщо не вистачає прав на жодну
      %li.addition Сортування шаблонів сертифікатів по ID та відображення ID на сторінці списку шаблонів
      %li.addition Відображення кількості виданних сертифікатів по кожному шаблону на сторінці списку шаблонів
      %li.modification Повідомлення про незаповнені документи тепер відображається вище блоку з розкладом і блоку зі спеціальними нотатками
      %li.addition Додано заголовок для блоку заяв на навчання на сторінці студента
      %li.modification Центрування заголовку блоку психологічного тесту на сторінці студента
      %li.addition Додано блок зі списком сертифікатів на домашню сторінку
      %li.addition Приховання полей з токеном скидання паролю на сторіці журналу версій студента
      %li.addition Додано журналювання версій на сертифікати, шаблони, шрифти

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.31
    %ul.changelog
      %li.addition Імпорт сертифікатів з CSV файлу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.18
    %ul.changelog
      %li.modification Виправлено помилку неможливості відображення деяких записів у журналі дій
      %li.addition Пагінація для журналу дій на сторінці студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.07
    %ul.changelog
      %li.addition Порівняння як було і як стало у журналі дій
      %li.addition Окремий журнал дій на сторінці студента
      %li.addition Зміни у журналі дій показуються тілки якщо вистачає прав на кожен окремий запис

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.06
    %ul.changelog
      %li.modification Суттєве зменшення кількості запитів у базу даних при перевірці прав користувача

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.07.17
    %ul.changelog
      %li.addition Сторінка статистики по виданим сертифікатам
      %li.addition Редагування типу шаблону сертифікату
      %li.addition Редагування належності до учбового закладу для шаблону сертифікату

    %h4 2022.07.10
    %ul.changelog
      %li.addition Створення, видалення та редагування шрифтів для шаблонів сертифікатів
      %li.addition Загрузка файлу шаблону сертифікату
      %li.addition Створення елеменітів шаблону сертифікату з підтримкою синтаксису mustache
      %li.addition Попередній перегляд шаблону сертифікату
      %li.addition Генерація сертифікату

    %h4 2022.02.15
    %ul.changelog
      %li.addition Підтримка необов'язкових питань
      %li.addition Відображення списку опитувальників
      %li.addition Відображення детальної сторінки опитувальника

    %h4 2022.02.13
    %ul.changelog
      %li.addition Питання в опитувальнику відсортовані по позиції
      %li.addition Відповіді на сторінці студента сгруповані по імені опитувальника
      %li.addition Відображення опису опитувальника на сторінці студента
      %li.addition Список незаповнених документів завжди відображається на сторінці студента та в особистому кабінеті
      %li.modification Призначені опитувальники не пропадають при відкликанні заявки
      %li.modification Відображення форми опитувальника призводить до значно меньшої кількості запитів до бази даних
      %li.modification Відображення готових відповідей на сторінці студента призводить до значно меньшої кількості запитів до бази даних
      %li.deletion Видалено статус верифікації студента

    %h4 2022.02.12
    %ul.changelog
      %li.addition Сортування залікових робіт за алфавітом на сторінці предмету
      %li.addition Поштове нагадування про необроблені заявки адміністраторам курсу
      %li.modification Оновлено версію Ruby on Rails до 5.0.7

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2021.12.04
    %ul.changelog
      %li.addition Видно дату видачі сертифікату
      %li.addition Пов'язані групи видно на сторінці предмету
      %li.addition На сторінці предмету видно кількість пов'язаних розкладів
      %li.modification Предмет відноситься до групи напряму

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2021.11.29
    %ul.changelog
      %li.addition Список сертифікатів на сторінці студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2020.11.22
    %ul.changelog
      %li.addition Статистика кількості студентів в групах по рокам

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2020.01.24
    %ul.changelog
      %li.addition Інтегровано сторонній сервіс для розсилки пошти

    %h4 2019.11.24
    %ul.changelog
      %li.modification Виправлено помилку очистки від застарілих Docker образів
      %li.modification Виправлено помилку генерації списку студентів PDF

    %h4 2019.11.22
    %ul.changelog
      %li.modification Оновлено версію Ruby до 2.4.9
      %li.modification Оновлено версію Node.js до 10.17
      %li.modification Оновлено систему розгортання на головний сервер

    %h4 2018.10.07
    %ul.changelog
      %li.modification Опис програм тепер розділений на параграфи
      %li.modification Перелік курсів у описі програм тепер не обовязковий
      %li.addition Перелік курсів тепер відсортовано по позиції

    %h4 2018.10.06
    %ul.changelog
      %li.addition Користувач може відписатися від разсилки завтрашнього розкладу по посиланню із листа
      %li.addition Користувач може редагувати список підписок
      %li.modification Виправлено невірний формат хвилин у розсилці завтрашнього розкладу

    %h4 2018.09.30
    %ul.changelog
      %li.addition Автоматична розсилка завтрашнього розкладу на пошту

    %h4 2018.09.28
    %ul.changelog
      %li.addition Валідація при реєстрації, що користувачу вже виповнилося 16 повних років

    %h4 2018.09.22
    %ul.changelog
      %li.modification Прибрані зайві поля щоб відповідати законам про збереження персональних даних

    %h4 2018.09.21
    %ul.changelog
      %li.addition Статистика по активності студентів у групі

    %h4 2018.09.20
    %ul.changelog
      %li.addition Студент бачить свої попередні групи на домашній сторінці

    %h4 2018.09.19
    %ul.changelog
      %li.addition Реалізовано верифікацію студентів

    %h4 2018.08.03
    %ul.changelog
      %li.modification Результати успішності тепер відображаються у цифрах якщо максимальний бал більше ніж 1
      %li.modification Виправлено орфографічну помилку у листі при додаванні студента у групу
      %li.modification Локалізовано діалог видалення
      %li.deletion Прибрано недороблену логіку розмітки сертифікатів
      %li.addition Тепер можна зберігати особливі нотатки про студентів, дивитися їх і видаляти
      %li.addition Тепер можна шукати студента за ім'ям

    %h4 2017.11.04
    %ul.changelog
      %li.addition Додано версії до предметів

    %h4 2017.10.31
    %ul.changelog
      %li.addition Відмічання відвуванності можливе навіть після втрати зв'язку
      %li.addition Не синхронізовані данні відвудуванності зберігаються навіть якщо згорнути браузер
      %li.addition Збережені данні відвудуванності синхронізуються при оновленні сторінки
      %li.addition При відмічанні відвідуванності відбувається переключання на наступного студента автоматично

    %h4 2017.10.29
    %ul.changelog
      %li.addition Додано cтатистику відвідуванності для групи
      %li.addition Краща зміна фотографій студента для обліку відвідуванності

    %h4 2017.10.27
    %ul.changelog
      %li.addition Додано Google Analytics

    %h4 2017.10.25
    %ul.changelog
      %li.addition Адміністратор може додавати, редагувати, видаляти та бачити список залікових робіт
      %li.addition Покращено відображення списку предметів та одиничного предмету
      %li.addition Студент може бачити таблицю успішності на сторінці групи
      %li.addition Староста може редагувати успішність
      %li.modification На таблиці відвідуванності тепер видно нижню та праву межі
      %li.deletion Телефон та імейл куратора тепер не видно на сторінці групи

    %h4 2017.10.06
    %ul.changelog
      %li.addition Студент може бачити свою відвідуванніть
      %li.addition Привілейований користувач може відмічати відвідуванніть

    %h4 2017.09.23
    %ul.changelog
      %li.addition
        Адміністратор може бачити коли студент долучився до групи,
        залишив її та статус чи закінчила група курс на той момент

    %h4 2017.09.21
    %ul.changelog
      %li.addition Більш зрозуміле розділення екрану входу на логін та реєстрацію
      %li.addition
        У заголовку браузера відображається спочатку більш специфічна інформація,
        а потім тільки загальний заголовок сайту
      %li.addition Студента може бути додано одразу у декілька груп
      %li.deletion Студента не можна виключити одразу з усіх груп
      %li.addition Адміністратор може бачити усі теперішні групи студента
      %li.addition Студент може бачити усі свої теперішні групи
      %li.addition Адміністратор може виключати студента із груп по одній
      %li.addition Студент може подати заявку на нову программу навчання навіть якщо він уже десь навчається

    %h4 2017.08.25
    %ul.changelog
      %li.addition Адміністратор може бачити попередні групи студента

    %h4 2017.05.20
    %ul.changelog
      %li.modification Скролбар з'являється в сайдбарі тільки коли треба

    %h4 2017.01.31
    %ul.changelog
      %li.addition Увімкнено графічний інтерфейс асинхронних задач для адміністратора

    %h4 2017.01.29
    %ul.changelog
      %li.addition До загального списку подій розкладу додані сторінки

    %h4 2017.01.24
    %ul.changelog
      %li.modification Індикатор завантаження для розкладу тепер відображается не в середині таблиці, а поверх неї
      %li.addition Додана можливість відображення попередніх подій особистого розкладу
      %li.addition Додана можливість відображення попередніх подій розкладу групи

    %h4 2017.01.14
    %ul.changelog
      %li.addition Додано індикатор завантаження для розкладу

    %h4 2017.01.08
    %ul.changelog
      %li.modification Errbit замінений на Sentry (репортинг помилок)

    %h4 2016.12.31
    %ul.changelog
      %li.addition Додано логотип Академії
      %li.addition Виправлено вразливість 'window.opener' під час відкриття новий вкладок
      %li.addition Додано бокове меню
      %li.deletion Прибрано меню дій

    %h4 2016.12.11
    %ul.changelog
      %li.modification Змінено хостинг

    %h4 2016.12.07
    %ul.changelog
      %li.modification
        Виправлено помилку неможливості відкриття сторінки групи внаслідок відсутності можливості попереднього формуння
        сторінки на сервері

    %h4 2016.12.02
    %ul.changelog
      %li.addition Проект підготовано для запуску в докер контейнерах для розробки
      %li.addition Проект підготовано для публікації на новий хостинг в докер контейнерах
      %li.modification Тепер можна створювати групи з будь яким ім'ям
      %li.modification
        Виправлено помилку з хибною темою листів про зарахування та відрахування з українською локалізацією

    %h4 2016.10.06
    %ul.changelog
      %li.addition Оновлено версії ПЗ

    %h4 2016.09.28
    %ul.changelog
      %li.addition Можна надіслати тільки одну заяву
      %li.addition Колір титульної строки мобільного Chrome відповідає кольору заголовку

    %h4 2016.09.22
    %ul.changelog
      %li.addition Адміністратор бачить журнал дій

    %h4 2016.09.21
    %ul.changelog
      %li.addition Краще відображення списку слуг групи на мобільних приладах
      %li.addition Краще відображення списку студентів групи на мобільних приладах
      %li.deletion Прибрано поля із бази данних які не використовуються
      %li.modification Виправлено помилку що після випуску групи, студент не міг подати нову заяву

    %h4 2016.09.20
    %ul.changelog
      %li.addition Додано перевірку стилю Ruby коду

    %h4 2016.06.11
    %ul.changelog
      %li.addition Для адміністратора невидимі програми навчання показані сірим кольором
      %li.addition Абітурієнти бачать контакти адміністратора курсу після подачі заяви на програму навчання
      %li.addition Електронні адреси тепер відображаються як посилання, а не просто текст

    %h4 2016.05.28
    %ul.changelog
      %li.addition Список груп посортовано по даті випуску та назві
      %li.addition У списку груп відображається кількість активних студентів
      %li.addition Автоматична орієнтація зображень сфотографованих на перевернутий телефон
      %li.addition Переклад для декількох полей при реєстрації
      %li.modification Логіка валідації телефонного номеру

    %h4 2016.05.01
    %ul.changelog
      %li.addition Під час реєстраціі треба вказати ім'я духовного вчителя, якщо є ініціація

    %h4 2016.04.30
    %ul.changelog
      %li.addition Лист при зарахуванні у групу
      %li.addition Лист при зарахуванні/відрахуванні із групи має адресу координатора в reply to
      %li.addition Більше автотестостів для зміни мови
      %li.modification Змінено шаблон листа при зарахуванні/відрахуванні із групи

    %h4 2016.03.20
    %ul.changelog
      %li.addition Автоматичний лист студенту при відрахуванні з групи
      %li.addition Налаштування локализації зберігаються у користувача

    %h4 2016.02.22
    %ul.changelog
      %li.addition Додано Webpack
      %li.modification React тепер збирається через Webpack
      %li.modification Частина ресурсів тепер керується NPM
      %li.deletion Видалено Bower

    %h4 2015.12.04
    %ul.changelog
      %li.modification Виправлена помилка неможливості зміни локалізації
      %li.addition Створення шаблону сертифікату
      %li.addition Редагування шаблону сертифікату
      %li.addition Розмітка шаблону сертифікату
      %li.addition Видалення шаблону сертифікату
      %li.addition Перегляд списку шаблонів сертифікатів

    %h4 2015.11.28
    %ul.changelog
      %li.addition Додано колесо загрузки на основні дії користувача

    %h4 2015.09.09
    %ul.changelog
      %li.addition Можна фільтровати список людей по заявці на навчання
      %li.addition Час подання заявки на навчання тепер видно у списку людей
      %li.addition Час реєстрації тепер видно у детальній інформаціі про людину
      %li.addition
        Час реєстрації тепер видно у списку людей для тих хто не подав заявку на навчання
        та не є активним студентом

    %h4 2015.08.24
    %ul.changelog
      %li.addition На сторінці групи видно скільки матаджи і прабгу

    %h4 2015.07.19
    %ul.changelog
      %li.modification
        Виправлена помилка коли не показувався персональний розклад і розклад групи
        якщо не був назначений викладач
      %li.modification Виправлена помилка сортуваня персонального розкладу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.18
    %ul.changelog
      %li.modification При реєстрації тепер не обв'язково вказувати ім'я та фамілію якщо є духовне ім'я
      %li.modification При реєстрації тепер не обв'язково вказувати освіту та робочу спеціальність

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.16
    %ul.changelog
      %li.modification При експортуванні списку групи, фотографії білшого разміру
      %li.modification
        Виправлена помилка прав доступу до експорту списка групи,
        коли староста однієї групи мав доступ до всіх інших
      %li.addition Можливість друку шаблону для обліку відвідуванності

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.10
    %ul.changelog
      %li.addition Адміністратор бачить попередження якщо абітурієнт неповнолітній
      %li.addition Додано журнал змін

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.09
    %ul.changelog
      %li.addition Розклад занять видно на сторінці групи
      %li.addition Админістратор може позначити із інтерфейсу, що група закінчила навчання
      %li.addition Логування всіх дій з об'єктами бази данних

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.08
    %ul.changelog
      %li.addition Персональний розклад занять для сутдента та викладача на домашній сторінці

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.15
    %ul.changelog
      %li.addition Розклад занять може містити тему

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.12
    %ul.changelog
      %li.addition Адміністратор може клонувати запис розкладу занять під час створення

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.08
    %ul.changelog
      %li.modification Тепер короткі імена викладачів у таблиці розкладу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.06
    %ul.changelog
      %li.addition Староста та викладач можуть експортувати список групи у PDF разом із фотографіями

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.05
    %ul.changelog
      %li.addition Адміністратор може створювати, редагувати, видаляти, та переглядати розклад занять

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.02
    %ul.changelog
      %li.modification Виправлено помилку коли студент не міг бачити фото одногрупників якщо група закінчила навчання

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.25
    %ul.changelog
      %li.addition Можна позначити у базі данних, що група закінчила навчання

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.13
    %ul.changelog
      %li.modification Замінено jquery-autocomplete на select2 та покращено архітектуру

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.12
    %ul.changelog
      %li.modification Виправлено помилку обробки імен у експорті данних для друку студентських квитків
      %li.deletion
        Прибрано постобробку імен при реєстрації користувачів, тепер можна використовувати будьякий регістр клавіатури

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.06
    %ul.changelog
      %li.addition Адміністратор може створювати, редагувати, видаляти, та переглядати академічні дісципліни

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.04.29
    %ul.changelog
      %li.addition Скрипт для додавання існуючих студентів у портал

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.28
    %ul.changelog
      %li.addition Покращено тествання коду

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.24
    %ul.changelog
      %li.addition Оновлені версії програмного забезпечення

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.08
    %ul.changelog
      %li.addition На сторінці групи видно список студентів

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.01
    %ul.changelog
      %li.addition
        Додано перевірки щоб не відображати кнопки та посиляння якщо всеодно не вистачає прав щоб їми користуватися

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.25
    %ul.changelog
      %li.addition
        Студент може бачити куратора, адміністратора і старосту групи на сторінці групи.
        А також має посилання на групу на домашній сторінці

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.13
    %ul.changelog
      %li.addition Адміністратор може залиши нотатку про студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.12
    %ul.changelog
      %li.addition Студент може бачити номер групи та об'яву для групи на своїй домашній сторінці
      %li.addition Адмністратор може видаляти студентів з групи

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.10
    %ul.changelog
      %li.addition Адміністратор може бачити у списку користувачів зменшені фотографії, заяви та номери груп
      %li.addition Список користувачів тепер має сторінки

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.09
    %ul.changelog
      %li.addition Адміністратор може додавати студентів у групу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.12.17
    %ul.changelog
      %li.addition Адміністратор може подавати заяву за студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.14
    %ul.changelog
      %li.addition Відкрито реєстрацію абітурієнтів

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.05
    %ul.changelog
      %li.addition Можливість позначати курси у базі даних як невидимі
      %li.addition Новий психологічний тест

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h2.text-center ...

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2013.10.22
    %ul.changelog
      %li.addition Початок розробки
