.row
  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2023.03.02
    %ul.changelog
      %li.addition
        = link_to_commit('06212aef4f20b667ccef185dd0dc1ce5133b0676')
        SSL сертификат
      %li.addition
        = link_to_commit('2720a4e7edd520e8e9b7da090987aea67e96a54a')
        = link_to_commit('090e31769c47f11efe828c5cc29298a728a0bc9f')
        = link_to_commit('fa6f59500ea0481a03816017c8186ecd5cdceaae')
        = link_to_commit('89b3b7017df1ba3ac3fe04d612a19e11d92e8e80')
        = link_to_commit('37e4d6e9548d106643a685eefcf72c84231d3fa1')
        Чистка кода и ремонт инфраструктуры
      %li.addition
        = link_to_commit('c033682bfc710c15ac58119183446eac7dc561b2')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Страница для отображения списка учебных курсов администраторам
      %li.addition
        = link_to_commit('ad9c3dcdbcba06b542e780a81d57c22990268c7c')
        = link_to_commit('3e2b87da426372480a3b28e31b4c5801e44657f9')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Создание новых и редактирование существующих учебных курсов
      %li.addition
        = link_to_commit('c6f5c87a3c5fa506e83b09c796ac79ebfdccd7ae')
        = link_to_commit('7c74d5266947d933bc9e2f31c62712ee25c04852')
        Удаление учебных курсов
      %li.modification
        = link_to_commit('6c9ba88f2f013c639a09ee3a301885b612faf673')
        Ссылка на список заявлений по учебному курсу убрана из бокового меню и добавлена на страницу списка учебных курсов

    %h4 2022.10.18
    %ul.changelog
      %li.addition
        = link_to_commit('214a14661d6a13c472276fd30584ca4d8d4e8905')
        Для домашней страницы, список групп, где пользователь является куратором
      %li.modification
        = link_to_commit('6f467290b50aa106f9c1ac09d71a0293b5e2df1e')
        Обновление вида страницы в списке групп. Локализация и ссылки на доступные действия в виде иконок
      %li.addition
        = link_to_commit('ff1697d3dbb6c7677347f8a5d5ef7fd58da3a328')
        Поддержка нумерации страниц для страницы списка групп. Локализация кнопок нумерации страниц
      %li.modification
        = link_to_commit('bea3bf4ff52cee1cfc1d62167820cfd6a9058a33')
        Изменение цвета всех иконок редактирования на желтый
      %li.modification
        = link_to_commit('355748b98ae16fdadf551fa2201c2d009c733726')
        Устранение ошибок в текстах локализации
      %li.addition
        = link_to_commit('f431c1ddfc5f0bc5dd6133818ba4f7a37365da27')
        Санитизация поисковых запросов во избежание SQL инъекций
      %li.modification
        = link_to_commit('6f4dec40fd675983b83d9c2d06eb9af941a3beb1')
        Убрано N+1 запросы при подсчете количества активных студентов на странице списка групп
      %li.modification
        = link_to_commit('6c5c9d7c04830e7e774087836407c799519cc5a1')
        Рефакторинг общего компонента кнопки для поддержания размера и подсказки
      %li.addition
        = link_to_commit('dbdd699a528db4c404d23a6d646f3d2ddbca735d')
        Выравнивание кнопок действий для списка учебного расписания
      %li.addition
        = link_to_commit('dece7627ef87479c6667e0eeaa5141bb93de6637')
        Расширенный поиск для списка групп
      %li.addition
        = link_to_commit('33be1c1e81e462a62b89c430265e66debfc4fa1e')
        Ссылка на комит для журнала изменений

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.09.03
    %ul.changelog
      %li.deletion Удаление скриптов устаревших
      %li.modification Уравнение кнопок действий по правой стороне для таблиц
      %li.addition Не отображать колонку с кнопками действий, если не хватает прав на одну
      %li.addition Сортировка шаблонов сертификатов по ID и отображение ID на странице списка шаблонов
      %li.addition Отображение количества выдаваемых сертификатов по каждому шаблону на странице списка шаблонов
      %li.modification Сообщения о незаполненных документах теперь отображаются выше блока с расписанием и блока со специальными заметками
      %li.addition Добавлено заголовок для блока заявлений на обучение на странице студента
      %li.modification Центрирование заголовка блока психологического теста на странице студента
      %li.addition Добавлен блок со списком сертификатов на домашнюю страницу
      %li.addition Скрытие полей с токеном сброса пароля на странице журнала версий студента
      %li.addition Добавлено журналирование версий на сертификаты, шаблоны, шрифты

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.31
    %ul.changelog
      %li.addition Импорт сертификатов из CSV файла

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.18
    %ul.changelog
      %li.modification Исправлена ошибка невозможности отображения некоторых записей в журнале действий
      %li.addition Пагинация для журнала действий на странице студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.07
    %ul.changelog
      %li.addition Сравнение как было и как стало в журнале действий
      %li.addition Отдельный журнал действий на странице студента
      %li.addition Измения в журнале действий показываются только если хватает прав на каждую отдельную запись

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.08.06
    %ul.changelog
      %li.modification Значительное уменьшение количества запросов в базу данных при проверке прав пользователя

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2022.07.17
    %ul.changelog
      %li.addition Страница статистики по виданным сертифыкатам
      %li.addition Редактирование типа шаблона сертификата
      %li.addition Редактирование принадлежности к учбоному заведению для шаблона сертификата

    %h4 2022.07.10
    %ul.changelog
      %li.addition Создание, удаление и редактирование шрифтов для шаблонов сертификатов
      %li.addition Загрузка файла шаблона сертификата
      %li.addition Создание элементов шаблона сертификата с поддержкой синтаксиса mustache
      %li.addition Предварительный просмотр шаблона сертификата
      %li.addition Генерация сертификата

    %h4 2022.02.15
    %ul.changelog
      %li.addition Поддержка необязательных вопросов
      %li.addition Отображение списка опросников
      %li.addition Отображение детальной станицы опросника

    %h4 2022.02.13
    %ul.changelog
      %li.addition Вопросы в вопроснике отсортированы по позиции
      %li.addition Ответы на странице студента сгрупированы по имени опросника
      %li.addition Отображение описания опросника на странице студента
      %li.addition Список незаполненных документов всегда отображается на странице студента и в личном кабинете
      %li.modification Назначенные опросники не пропадают при отзыве заявки
      %li.modification Отображение формы вопросника приводит к значительно меньшему количеству запросов базу данных
      %li.modification Отображение готовых ответов на странице студента приводит к значительно меньшему количеству запросов базу данных
      %li.deletion Удален статус верификации студента

    %h4 2022.02.12
    %ul.changelog
      %li.addition Сортировка зачетных работ по алфавиту на странице предмета
      %li.addition Почтовое напоминание про необработанные заявки администраторам курса
      %li.modification Обновлена версия Ruby on Rails до 5.0.7

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2021.12.04
    %ul.changelog
      %li.addition Видна дата выдачи сертификата
      %li.addition Связанние группы видно на странице предмета
      %li.addition На странице предмета видно количество связанных расписаний
      %li.modification Предмет относится к группе напрямую

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2021.11.29
    %ul.changelog
      %li.addition Список сертификатов на странице студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2020.11.22
    %ul.changelog
      %li.addition Статистика количества студентов в группах по годам

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2020.01.24
    %ul.changelog
      %li.addition Интегрирован внешний сервис для рассылки почты

    %h4 2019.11.24
    %ul.changelog
      %li.modification Исправлена ошибка очистки от устаревших Docker образов
      %li.modification Исправлена ошибка генерации списка студентов PDF

    %h4 2019.11.22
    %ul.changelog
      %li.modification Обновлена версия Ruby до 2.4.9
      %li.modification Обновлена версия Node.js до 10.17
      %li.modification Обновлена система развертывания на главный сервер

    %h4 2018.10.07
    %ul.changelog
      %li.modification Описание програм теперь разделено на параграфы
      %li.modification Перечень курсов в описании програм теперь не обязателен
      %li.addition Перечень курсов теперь отсортирован по позиции

    %h4 2018.10.06
    %ul.changelog
      %li.addition Пользователь может отписаться от рассылки завтрашнего расписания по ссылке из письма
      %li.addition Пользователь может редактировать список своих подписок
      %li.modification Исправлен неверный формат минут в рассылке завтрашнего расписания

    %h4 2018.09.30
    %ul.changelog
      %li.addition Автоматическая рассылка завтрашнего расписания на почту

    %h4 2018.09.28
    %ul.changelog
      %li.addition Валидация при регистрации, что пользователю уже исполнилось 16 полных лет

    %h4 2018.09.22
    %ul.changelog
      %li.modification Убраны лишние поля чтобы соответсвовать законам о хранении персональних данных

    %h4 2018.09.21
    %ul.changelog
      %li.addition Статистика по активности студентов в группе

    %h4 2018.09.20
    %ul.changelog
      %li.addition Студент видит свои предидущие группы на домашней странице

    %h4 2018.09.19
    %ul.changelog
      %li.addition Реализована верификациия студентов

    %h4 2018.08.03
    %ul.changelog
      %li.modification Результаты успеваемости теперь отображаются в цыфрах если максимальний бал больше чем 1
      %li.modification Исправлена орфографическая ошибка в письме при добавлении студента в группу
      %li.modification Локализирован диалог удаления
      %li.deletion Убрана недоделанная логика разметки сертификатов
      %li.addition Тепер можно сохранять спецальные заметки про студентов, смотреть их и удалять
      %li.addition Тепер можно искать студента по имени

    %h4 2017.11.04
    %ul.changelog
      %li.addition К предметам добавлены версии

    %h4 2017.10.31
    %ul.changelog
      %li.addition Отмечание посещаемости возможно даже после утраты сигнала
      %li.addition Не синхронизированные данные посещаемости сохраняются даже если свернуть браузер
      %li.addition Сохранненные данные посещаемости синхронизируются при обновлении страницы
      %li.addition При отмечании посещаемости происходит переключение на следующего студента автоматически

    %h4 2017.10.29
    %ul.changelog
      %li.addition Добавлена статистика посещаемости для группы
      %li.addition Лучшая смена фотографий студента для учета посещаемости

    %h4 2017.10.27
    %ul.changelog
      %li.addition Добавлена Google Analytics

    %h4 2017.10.25
    %ul.changelog
      %li.addition Администратор может добавлять, редактировать, удалять и видеть список зачетных работ
      %li.addition Улучшено отображение списка предметов и одиничного предмета
      %li.addition Студент может видеть таблицу успеваемости на странице группы
      %li.addition Староста может редактировать успеваемость
      %li.modification На таблице посещаемости теперь видно нижнюю и правую границы
      %li.deletion Телефон и имейл куратора теперь не видно на странице группы

    %h4 2017.10.06
    %ul.changelog
      %li.addition Студент может видеть свою посещаемость
      %li.addition Привилегированный пользователь может отмечать посещаемость

    %h4 2017.09.23
    %ul.changelog
      %li.addition
        Администратор может видеть когда студент присоединился к группе,
        покинул её и статус или группа окончила курс на тот момент

    %h4 2017.09.21
    %ul.changelog
      %li.addition Более понятное разделение экрана входа на логин и регистрацию
      %li.addition
        В заголовке браузера отображается сначала более спецфическая информация, а только потом общий заголовок сайта
      %li.addition Студент может буть добавлен сразу в несколько групп
      %li.deletion Студента нельзя исключить сразу из всех групп
      %li.addition Администратор может видеть все текущие группы студента
      %li.addition Студент может видеть все свои текущие группы
      %li.addition Администратор может исключать студента из групп по одной
      %li.addition Студент может подать заявку на новую программу обучения даже если он уже где-то обучается

    %h4 2017.08.25
    %ul.changelog
      %li.addition Администратор может видеть предидущие группы студента

    %h4 2017.05.20
    %ul.changelog
      %li.modification Cкролбар отображается в сайдбаре только когда нужно

    %h4 2017.01.31
    %ul.changelog
      %li.addition Включен графический интерфейс асинхронных задач для администратора

    %h4 2017.01.29
    %ul.changelog
      %li.addition К общему списку событий расписания добавлены страницы

    %h4 2017.01.24
    %ul.changelog
      %li.modification Индикатор загрузки для расписания теперь отображается не в середине таблицы, а поверх
      %li.addition Добавлена возможность отображения предидущих событий личного расписания
      %li.addition Добавлена возможность отображения предидущих событий расписания группы

    %h4 2017.01.14
    %ul.changelog
      %li.addition Добавлен индикатор загрузки для расписания

    %h4 2017.01.08
    %ul.changelog
      %li.modification Errbit заменен на Sentry (репортинг ошибок)

    %h4 2016.12.31
    %ul.changelog
      %li.addition Добавлен логотип Академии
      %li.addition Исправлена уязвимость 'window.opener' во время открытия новых вкладок
      %li.addition Добавлено боковое меню
      %li.deletion Убрано меню действий

    %h4 2016.12.11
    %ul.changelog
      %li.modification Изменен хостинг

    %h4 2016.12.07
    %ul.changelog
      %li.modification
        Исправлена ошибка невозможности открытия страницы группы вследствие отсутствия возможности предварительного
        формирования страницы на сервере

    %h4 2016.12.02
    %ul.changelog
      %li.addition Проект подготовлен для запуска в докер контейнерах для розработки
      %li.addition Проект подготовлен для публикации на новий хостинг в докер контейнерах
      %li.modification Теперь можно создавать группы с каким угодно именем
      %li.modification Исправлена ошибка с неверной темой писем про зачисление и отчисление с украинской локализацией

    %h4 2016.10.06
    %ul.changelog
      %li.addition Обновлены версии ПО

    %h4 2016.09.28
    %ul.changelog
      %li.addition Можно подать только одну заявку
      %li.addition Цвет титульной строки мобильного Chrome соответсвует цвету заголовка

    %h4 2016.09.22
    %ul.changelog
      %li.addition Администратор видит журнал действий

    %h4 2016.09.21
    %ul.changelog
      %li.addition Лучшее отображение списка слуг группы на мобильных устройствах
      %li.addition Лучшее отображение списка студентов группы на мобильных устройствах
      %li.deletion Убраны неиспользуемые поля из базы данных
      %li.modification Исправлена ошибка что после выпуска группы студент не мог подать новую заявку

    %h4 2016.09.20
    %ul.changelog
      %li.addition Добавлена проверка стиля Ruby кода

    %h4 2016.06.11
    %ul.changelog
      %li.addition Для администратора невидимые программы обучения показаны серым цветом
      %li.addition Абитуриенты видят контакты администратора курса после подачи заявки на программу обучения
      %li.addition Электронные адреса теперь отображаются как ссылки, а не просто текст

    %h4 2016.05.28
    %ul.changelog
      %li.addition Список групп отсортирован по дате выпуска и названию
      %li.addition В списке групп отображается количество активных студентов
      %li.addition Автоматическая ориентация изображений сфотографированных на перевернутый телефон
      %li.addition Перевод для нескольких полей при регистрации
      %li.modification Логика валидации телефонного номера

    %h4 2016.05.01
    %ul.changelog
      %li.addition При регистрации нужно указать духовного учителя, если есть инициация

    %h4 2016.04.30
    %ul.changelog
      %li.addition Письмо при зачислении в группу
      %li.addition Письмо при зачислении/отчислении из группы сожержит адрес координатора в reply to
      %li.addition Больше автотестостов для переключения языка
      %li.modification Изменен шаблон письма при зачислении/отчислении из группы

    %h4 2016.03.20
    %ul.changelog
      %li.addition Автоматическое письмо студенту при отчислении из группы
      %li.addition Настройки локализации сохраняются в пользователя

    %h4 2016.02.22
    %ul.changelog
      %li.addition Добавлен Webpack
      %li.modification React теперь собирается через Webpack
      %li.modification Часть ресурсов теперь управляется NPM
      %li.deletion Устранен Bower

    %h4 2015.12.04
    %ul.changelog
      %li.modification Исправлена ошибка невозможности смены локализации
      %li.addition Создание шаблона сертификата
      %li.addition Редактирование шаблона сертификата
      %li.addition Разметка шаблона сертификата
      %li.addition Удаление шаблона сертификата
      %li.addition Просмотр списка шаблонов сертификатов

    %h4 2015.11.28
    %ul.changelog
      %li.addition Добавлено колесо загрузки на основные действия пользователя

    %h4 2015.09.09
    %ul.changelog
      %li.addition Можно фильтровать список людей по заявке на обучение
      %li.addition Время подачи заявки на обучение теперь видно в списке людей
      %li.addition Время регистрации тепер видно в детальной информации про человека
      %li.addition
        Время регистрации тепер видно в списке людей для тех кто не подал заявление на обчение и
        не является активным студентом

    %h4 2015.08.24
    %ul.changelog
      %li.addition На странице группы видно сколько матаджи и прабху

    %h4 2015.07.19
    %ul.changelog
      %li.modification
        Исправлена ошибка когда не показывалось персональное расписание и расписание группы
        если не был назначен преподаватель
      %li.modification Исправлена ошибка сортировки персонального расписания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.18
    %ul.changelog
      %li.modification При регистрации теперь не обязательно указывать имя и фамилию если есть духовное имя
      %li.modification При регистрации теперь не обязательно указывать образование и рабочую специальность

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.16
    %ul.changelog
      %li.modification При экспортировании списка группы, фотографии большего размера
      %li.modification
        Исправлена ошибка прав доступа к экспорту списка группы,
        когда староста одной группы имел доступ ко всем остальным
      %li.addition Возможность печати шаблона для учета посещаемости

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.10
    %ul.changelog
      %li.addition Администратор видит предупреждение если абитуриент несовершеннолетний
      %li.addition Добавлен журнал изменений

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.09
    %ul.changelog
      %li.addition Расписание занятий видно на странице группы
      %li.addition Администратор может из интерфейса пометить что группа окончила обучение
      %li.addition Логирование всех действий с объектами базы данных

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.07.08
    %ul.changelog
      %li.addition Персональное расписание занятий для студента и преподавателя на домашней странице

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.15
    %ul.changelog
      %li.addition Расписание занятий может иметь тему

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.12
    %ul.changelog
      %li.addition Администраторм может клонировать запись расписания занятий во время создания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.08
    %ul.changelog
      %li.modification Теперь короткие имена преподавателей в таблице расписания

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.06
    %ul.changelog
      %li.addition Староста и преподаватель могут экспортировать список группы в PDF вместе с фотографиями

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.05
    %ul.changelog
      %li.addition Администратор может создавать, редактировать, удалять и просматривать расписание занятий

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.06.02
    %ul.changelog
      %li.modification Исправлена ошибка когда студент не мог видеть фото одногрупников если группа окончила обучение

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.25
    %ul.changelog
      %li.addition В базе данных можно помечать что группа окончила обучение

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.13
    %ul.changelog
      %li.modification jquery-autocomplete заменен на select2 и архитектура улучшена

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.12
    %ul.changelog
      %li.modification Исправлена ощибка обработки имен при экспорте данных для печати студенческих билетов
      %li.deletion
        Убрана постобработка имен при регистрации пользователей, теперь можно использовать любой регистр клавиатуры

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.05.06
    %ul.changelog
      %li.addition Администратор может создавать, редактировать, удалять и просматривать академические дисциплины

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.04.29
    %ul.changelog
      %li.addition Скрипт для добавления существующих студентов в портал

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.28
    %ul.changelog
      %li.addition Улучшено тестирование кода

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.24
    %ul.changelog
      %li.addition Обновлены версии програмного обеспечения

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.08
    %ul.changelog
      %li.addition На странице группы видно список студентов

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.02.01
    %ul.changelog
      %li.addition
        Добавлены проверки чтоб не отображать кнопки и ссылки если всеравно не хватает праб чтобы ими воспользоваться

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.25
    %ul.changelog
      %li.addition
        Студент может видеть куратора, администратора и старосту группы на странице группы.
        А также видит ссылку на группу на домашней странице

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.13
    %ul.changelog
      %li.addition Администратор может оставить заметку про студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.12
    %ul.changelog
      %li.addition Студент может видеть номер группы и объявление для группы на своей домашней странице
      %li.addition Администратор может удалять студентов из группы

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.10
    %ul.changelog
      %li.addition В списке пользователей администратор может видеть уменьшенные фотографии, заявления и номера групп
      %li.addition Список пользователей теперь имеет страницы

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2015.01.09
    %ul.changelog
      %li.addition Администратор может добавлять студентов в группу

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.12.17
    %ul.changelog
      %li.addition Администратор может подать заявление за студента

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.14
    %ul.changelog
      %li.addition Открыта регистрация абитуриентов

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2014.11.05
    %ul.changelog
      %li.addition Возможность в базе данных пометить курсы как невидимыми
      %li.addition Новий психологический тест

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h2.text-center ...

  .col-xs-12.col-sm-8.col-sm-offset-2
    %h4 2013.10.22
    %ul.changelog
      %li.addition Начало разработки
