- provide(:title, t('.title'))

.row
  .col-xs-12
    = render 'shared/person_brief', person: current_person
  - if current_person.last_academic_group.blank?
    .col-xs-12.vert-offset-top-1.stop_double_submit#study_application
      = render 'shared/study_application', person: @application_person,
                                           programs: @programs,
                                           study_application: @new_study_application
  - if policy(ClassSchedule).ui_person? && ClassScheduleWithPeople.personal_schedule(current_person.id).any?
    .col-xs-12
      %h3.text-center
        = t('.schedules_title')
    .col-xs-12
      - content_for(:js_and_css) do
        = javascript_include_tag 'generated/react-bundle', type: 'text/javascript'
        = javascript_include_tag 'generated/schedule-list-bundle', type: 'text/javascript'

      = react_component('ScheduleListApp',
        props: { url: ui_person_class_schedules_path,
          headers: class_schedules_table_headers })
