:css
  @import url('http://fonts.googleapis.com/css?family=Open+Sans');

  #emailContainer{
    font-family:'Open Sans', 'Helvetica Neue', Helvetica, sans-serif;
  }

%table{ border: 0, cellpadding: 0, cellspacing: 0, height: '100%', width: '100%', id: 'bodyTable' }
  %tr
    %td{ align: 'center', valign: 'top' }
      %table{ border: 0, cellpadding: 10, cellspacing: 0, width: 600, id: 'emailContainer' }

        %tr
          %td{ align: 'center', valign: 'top' }
            %table{ border: 0, cellpadding: 10, cellspacing: 0, width: '100%', id: 'emailHeader' }
              %tr
                %td{ align: 'center', valign: 'top' }
                  %h1= t('.subject')

        %tr
          %td{ align: 'center', valign: 'top' }
            %table{ border: 0, cellpadding: 10, cellspacing: 0, width: '100%', id: 'emailBody' }
              - if @teacher_schedules.any?
                - @teacher_schedules.each do |schedule|
                  %tr
                    %td{ align: 'left', valign: 'bottom' }
                      %h3= t('.teacher_header')

                  %tr
                    %td{ align: 'left', valign: 'top' }
                      %table{ border: 1, cellpadding: 10, cellspacing: 0, width: '100%', id: 'schedulesList' }

                        %tr
                          %th{ align: 'center', valign: 'middle' }= t('.time')
                          %th{ align: 'center', valign: 'middle' }= t('.classroom')
                          %th{ align: 'center', valign: 'middle' }= t('.course')
                          %th{ align: 'center', valign: 'middle' }= t('.class_subject')
                          %th{ align: 'center', valign: 'middle' }= t('.academic_groups')

                        %tr
                          %td{ align: 'center', valign: 'middle' }
                            = schedule.start_time.strftime('%H:%M')
                            &mdash;
                            = schedule.finish_time.strftime('%H:%M')

                          %td{ align: 'center', valign: 'middle' }
                            = schedule.classroom.title

                          %td{ align: 'center', valign: 'middle' }
                            = schedule.course.title

                          %td{ align: 'center', valign: 'middle' }
                            = schedule.subject

                          %td{ align: 'center', valign: 'middle' }
                            - schedule.academic_groups.each do |g|
                              = link_to g.title,
                                        academic_group_url( g,
                                                            utm_medium: 'email',
                                                            utm_source: 'next_day_schedule',
                                                            utm_campaign: 'group_link',
                                                            utm_content: 'teacher_schedule')
                              &thinsp;

              - if @student_schedules.any?
                - @student_schedules.each do |schedule|
                  %tr
                    %td{ align: 'left', valign: 'bottom' }
                      %h3= t('.student_header')

                  %tr
                    %td{ align: 'left', valign: 'top' }
                      %table{ border: 1, cellpadding: 10, cellspacing: 0, width: '100%', id: 'schedulesList' }

                        %tr
                          %th{ align: 'center', valign: 'middle' }= t('.time')
                          %th{ align: 'center', valign: 'middle' }= t('.classroom')
                          %th{ align: 'center', valign: 'middle' }= t('.course')
                          %th{ align: 'center', valign: 'middle' }= t('.teacher')
                          %th{ align: 'center', valign: 'middle' }= t('.class_subject')

                        %tr
                          %td{ align: 'center', valign: 'middle' }
                            = schedule.start_time.strftime('%H:%M')
                            &mdash;
                            = schedule.finish_time.strftime('%H:%M')

                          %td{ align: 'center', valign: 'middle' }
                            = schedule.classroom.title

                          %td{ align: 'center', valign: 'middle' }
                            = schedule.course.title

                          %td{ align: 'center', valign: 'middle' }
                            = complex_name(schedule.teacher, short: true) if schedule.teacher.present?

                          %td{ align: 'center', valign: 'middle' }
                            = schedule.subject
              %tr
                %td{ align: 'center', valign: 'top' }
                  = link_to t('.check_your_schedule'),
                            root_url( utm_medium: 'email',
                                      utm_source: 'next_day_schedule',
                                      utm_campaign: 'schedules_notification',
                                      utm_content: 'call_to_action')

              %tr
                %td{ align: 'left', valign: 'bottom' }
                  = t('.questions_to_administrators')

                  %table{ border: 0, cellpadding: 10, cellspacing: 0, width: '100%', id: 'administrators' }
                    - @administrators.each do |administrator, academic_groups|
                      %tr
                        %td{ align: 'left', valign: 'top' }
                          = complex_name(administrator, short: true)

                        %td{ align: 'left', valign: 'top' }
                          - administrator.telephones.each do |telephone|
                            = telephone.phone
                            %br

                        %td{ align: 'left', valign: 'top' }
                          - academic_groups.each do |g|
                            = g.title
                            %br

        %tr
          %td{ align: 'center', valign: 'top' }
            %table{ border: 0, cellpadding: 10, cellspacing: 0, width: '100%', id: 'emailFooter' }
              %tr
                %td{ align: 'center', valign: 'bottom' }
                  %hr
              %tr
                %td{ align: 'center', valign: 'bottom' }
                  = link_to t('.unsubscribe'),
                            unsubscribe_url(@unsubscribe.code,
                                            @unsubscribe.encoded_email,
                                            utm_medium: 'email',
                                            utm_source: 'next_day_schedule',
                                            utm_campaign: 'unsubscribes',
                                            utm_content: 'footer',
                                            utm_term: @unsubscribe.kind),
                            rel: 'noopener noreferrer',
                            target: '_blank'
              %tr
                %td{ align: 'center', valign: 'bottom' }
                  = link_to root_url( utm_medium: 'email',
                                      utm_source: 'next_day_schedule',
                                      utm_campaign: 'schedules_notification',
                                      utm_content: 'footer_logo') do
                    %img{ src: 'https://res.cloudinary.com/dsd89mcu3/image/upload/v1538280388/Logo_Academy_2017_black_50px_ksnsco.png' }
              %tr
                %td{ align: 'center', valign: 'top' }
                  = t 'mail.footer.kdask'
                  %br
                  +38 (067) 245-87-00
                  %br
                  +38 (063) 321-00-33
                  %br
                  +38 (044) 331-19-64
