= simple_nested_form_for @person do |f|
  = f.error_notification

  .form-inputs
    - if f.object.photo.present?
      = image_tag("/people/show_photo/standart/#{f.object.id}")
    - else
      = image_tag(f.object.photo_url)
    = f.input :photo, as: :file
    = f.input :photo_cache, as: :hidden
    - if f.object.passport.present?
      = link_to 'Show passport', "/people/show_passport/#{f.object.id}", target: '_blank'
    - else
      There is no passport attached.
    = f.input :passport, as: :file
    = f.input :passport_cache, as: :hidden
    = f.input :email, required: true, autofocus: true
    = f.input :spiritual_name
    = f.input :name, required: true
    = f.input :middle_name
    = f.input :surname, required: true
    = render 'shared/nested_telephones', f: f
    = f.input :gender, collection: [['Male', true], ['Female', false]], required: true
    = f.input :birthday, as: :string, input_html: { id: 'datepicker', data: { locale: "#{locale}" } }
    = f.input :education, required: true
    = f.input :work, required: true
    = f.input :emergency_contact, required: true

  .form-actions
    = f.button :submit
