= render 'shared/under_construction'
- provide(:title, "All People")

%h1 People

%table.table
  %thead
    %tr
      %th Name
      %th Surname
      %th Spiritual Name
  %tbody
    - @people.each do |person|
      %tr.person{ id: "#{person.id}" }
        %td
          = link_to person.name, person_path(person)
        %td
          = link_to person.surname, person_path(person)
        %td
          = link_to person.spiritual_name, person_path(person)

= paginate @people
