= render 'shared/under_construction'
- provide(:title, "All People")

.row
  .col-xs-12
    %h1 People

.row
  .col-xs-12
    .btn-group
      %button.btn.btn-default.dropdown-toggle{ type: :button, data: { toggle: :dropdown },
                                               aria: { haspopup: :true, expanded: :false } }
        Filter by application
        %span.caret
      %ul.dropdown-menu
        - Program.select(:id, :title_uk, :title_ru).each do |program|
          %li
            = link_to program["title_#{I18n.locale}"], people_path(with_application: program.id)
        %li.divider{ role: :separator }
        %li
          = link_to 'Without application', people_path(without_application: true)
        %li
          = link_to 'No filter', people_path

.row
  .col-xs-12
    .table-responsive
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th #
            %th Photo
            %th Full Name
            %th Group or Application
        %tbody
          - @people.each_with_index do |person, index|
            %tr
              %td
                #{@people.default_per_page * ( @people.current_page.pred) + index.next}
              %td
                = thumb_with_pop(person)
              %td
                = link_to_show_person_or_name(person)
              %td
                - if person.last_academic_group.present? && person.last_academic_group.active?
                  = link_to person.last_academic_group.title, academic_group_path(person.last_academic_group)
                - elsif person.study_application.present?
                  = person.study_application.program["title_#{locale}"]
  .col-xs-12.text-center
    = paginate @people
