= render 'shared/under_construction'
- provide(:title, complex_name(@person, :t))
.row
  %h1.col-xs-12.col-sm-6
    = complex_name(@person)
  .col-xs-12.col-sm-6.clearfix
    .pull-right
      = link_to 'Edit', edit_person_path(@person), class: 'btn btn-xs btn-success'
      = link_to 'Delete', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
  .col-xs-12
    .row
      .col-xs-12.col-sm-4
        .row
          .col-xs-12
            - if @person.photo.present?
              = image_tag "/people/show_photo/standart/#{@person.id}", class: 'img-thumbnail'
            - else
              = image_tag @person.photo_url, class: 'img-thumbnail'
          .col-xs-12
            - if @person.passport.present?
              = link_to 'Show passport', "/people/show_passport/#{@person.id}", target: '_blank'
            - else
              There is no passport attached.
      .col-xs-12.col-sm-8
        .row
          .col-xs-4.col-sm-3
            Gender:
          .col-xs-8.col-sm-9
            #{@person.gender ? 'Male' : 'Female'}
        .row
          .col-xs-4.col-sm-3
            Birthday:
          .col-xs-8.col-sm-9
            #{@person.birthday}
        .row
          .col-xs-4.col-sm-3
            Email:
          .col-xs-8.col-sm-9
            #{@person.email}
        .row
          .col-xs-4.col-sm-3
            Marital status:
          .col-xs-8.col-sm-9
            #{@person.marital_status}
        .row
          .col-xs-4.col-sm-3
            Friends to be with:
          .col-xs-8.col-sm-9
            #{@person.friends_to_be_with}
        - @person.telephones.each_with_index do |telephone, index|
          .row
            .col-xs-4.col-sm-3
              Telephone #{index + 1}:
            .col-xs-8.col-sm-9
              #{telephone.phone}
        .row
          .col-xs-4.col-sm-3
            Emergency contact:
          .col-xs-8.col-sm-9
            #{@person.emergency_contact}
        .row
          .col-xs-4.col-sm-3
            Education:
          .col-xs-8.col-sm-9
            #{@person.education}
        .row
          .col-xs-4.col-sm-3
            Work:
          .col-xs-8.col-sm-9
            #{@person.work}

.row
  .col-xs-12.vert-offset-top-1#study_application
    = render 'shared/study_application', person: @person_decorator, programs: @programs, study_application: @study_application

- if @person.psycho_test_result.present?
  .row.vert-offset-top-1
    .col-xs-12
      %h3
        = t('.psycho_test_results')
    - @person.psycho_test_result.each do |key, data|
      .col-xs-12.col-sm-6
        %div{ class: 'popover-description', data: { toggle: 'popover', content: data[locale][:description] } }
          %p= data[locale][:title]
          .progress
            .progress-bar{  class: "progress-bar-#{data[:color]}", role: :progressbar, style: "width: #{data[:percentage]}%;",
                            aria: { valuenow: data[:current], valuemin: 0, valuemax: data[:max] } }
              %span
                #{data[:current]}/#{data[:max]}

