- provide(:title, complex_name(@person, :t))
%h1
  = complex_name(@person)
%br
= link_to 'Edit', edit_person_path(@person)
|
= link_to 'Delete', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' }
- if @person.photo.present?
  %br
  = image_tag("/people/show_photo/standart/#{@person.id}")
%br
Spiritual name: #{@person.spiritual_name}
%br
Name: #{@person.name}
%br
Middle name: #{@person.middle_name}
%br
Surname: #{@person.surname}
%br
Gender: #{@person.gender ? 'Male' : 'Female'}
%br
Birthday: #{@person.birthday}
%br
Email: #{@person.email}
%br
Telephone: #{@person.telephone}
%br
Emergency contact: #{@person.emergency_contact}
%br
Education, hobby, job: #{@person.edu_and_work}
%br
