- provide(:title, complex_name(@person, :t))
%h1
  = complex_name(@person)
%br
= link_to 'Edit', edit_person_path(@person)
|
= link_to 'Delete', person_path(@person), method: :delete, data: { confirm: 'Are you sure?' }
%br
- if @person.photo.present?
  = image_tag("/people/show_photo/standart/#{@person.id}")
- else
  = image_tag(@person.photo_url)
%br
- if @person.passport.present?
  = link_to 'Show passport', "/people/show_passport/#{@person.id}", target: '_blank'
- else
  There is no passport attached.
%br
Spiritual name: #{@person.spiritual_name}
%br
Name: #{@person.name}
%br
Middle name: #{@person.middle_name}
%br
Surname: #{@person.surname}
%br
Gender: #{@person.gender ? 'Male' : 'Female'}
%br
Birthday: #{@person.birthday}
%br
Email: #{@person.email}
%br
- @person.telephones.each_with_index do |telephone, index|
  Telephone #{index + 1}: #{telephone.phone}
%br
Emergency contact: #{@person.emergency_contact}
%br
Education, hobby, job: #{@person.edu_and_work}
%br
