= simple_form_for @akadem_group do |f|
  = render 'shared/error_messages', object: f.object
  = f.input :group_name
  = f.input :establ_date
  = f.input :group_description
  = people_autocomplete(f, 'curator')
  = people_autocomplete(f, 'administrator')
  = people_autocomplete(f, 'praepostor')
  = f.input :message_ru
  = f.input :message_uk
  = f.button :submit
