.row
  .col-xs-12.vert-offset-top-1
    %table.table.table-condensed.table-striped
      %thead
        %tr
          %th #
          %th= t('akadem_groups.show.photo')
          %th= t('akadem_groups.show.full_name')
          %th= t('akadem_groups.show.birthday')
          - if am_i_group_elder?(akadem_group)
            %th= t('akadem_groups.show.telephones')
      %tbody
        - students.each_with_index do |student, index|
          %tr
            %td
              = index.next
            %td
              = thumb_with_pop(student)
            %td
              = link_to_show_person_or_name(student, true)
            %td
              = l(student.birthday, format: :short)
            - if am_i_group_elder?(akadem_group)
              %td
                = student.telephones.map(&:phone).join(', ')
