- provide(:title, @akadem_group.group_name)

.row
  %h1.col-xs-12
    = @akadem_group.group_name

  .col-xs-12.clearfix
    .pull-right
      - if policy(@akadem_group).edit?
        = link_to t('links.edit'), edit_akadem_group_path(@akadem_group), class: 'btn btn-xs btn-primary'
      - if policy(@akadem_group).destroy?
        = link_to t('links.delete'), akadem_group_path(@akadem_group), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'

  .col-xs-12
    %ul.nav.nav-tabs.admin-tabs
      %li{ class: 'active' }
        = link_to 'General', '#general', data: { toggle: 'tab' }
      %li
        = link_to 'Group list', '#group_list', data: { toggle: 'tab' }

    .tab-content
      .tab-pane#general.active
        = render 'tab_general', akadem_group: @akadem_group
      .tab-pane#group_list
        = render 'tab_student_list', students: @akadem_group.active_students, akadem_group: @akadem_group
