- provide(:title, t('registration_wizard.title'))

.row
  .col-xs-12
    %h1.text-center
      = t('registration_wizard.title')

.row.vert-offset-top-1
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    = render 'registration_wizards/progress_bar', current_step: 'identification'

.row
  .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.vert-offset-top-1.stop_double_submit
    = simple_form_for(@form_resource, url: registration_wizard_path, as: :registration_wizard, defaults: { required: false }, html: { method: :put }) do |f|
      = render 'shared/error_messages', object: f.object

      .form-inputs
        = f.input :spiritual_name
        = f.input :diksha_guru
        = f.input :name
        = f.input :middle_name
        = f.input :surname

        - male_option = %w[male male]
        - female_option = %w[female female]
        - gender_value = f.object.gender
        = f.input :gender,
                  collection: [male_option, female_option],
                  selected: gender_value.nil? ? nil : (gender_value == 'male' ? male_option : female_option),
                  include_blank: '',
                  label_method: lambda { |element| t("simple_form.options.person.gender.#{element.first}") }

      .form-actions
        = f.button :button, class: 'btn btn-submit col-xs-12' do
          %span.glyphicon.glyphicon-refresh.spinner{ aria: { hidden: true } }
          = t('registration_wizard.links.next_step')
