- provide(:title, t('registration_wizard.title'))

.row
  .col-xs-12
    %h1.text-center
      = t('registration_wizard.title')

.row.vert-offset-top-1
  .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
    = render 'registration_wizards/progress_bar', current_step: 'sign_up'

.row
  .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.vert-offset-top-1.stop_double_submit
    = simple_form_for(@form_resource, url: registration_path(resource_name), defaults: { required: false } ) do |f|
      = render 'shared/error_messages', object: f.object

      .form-inputs
        = f.input :email, autofocus: true, error: ''
        = f.input :birthday, as: :string, input_html: { type: 'date', value: date_value(f.object.birthday) }
        = f.input :password
        = f.input :password_confirmation

      .form-actions
        = f.button :button, class: 'btn btn-submit col-xs-12' do
          %span.glyphicon.glyphicon-refresh.spinner{ aria: { hidden: true } }
          = t('registration_wizard.links.next_step')
