.row
  .col-xs-12
    %h2
      = t('.restore_password')

.row.vert-offset-top-1
  .col-xs-12.col-sm-6.col-md-4
    = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = f.error_notification

      .form-inputs
        = f.input :email, autofocus: true

      .form-actions
        = f.button :submit, t('.send_me')

.row.vert-offset-top-2
  .col-xs-12
    = render 'devise/shared/links'
