.table-responsive
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th.text-top #
        %th.text-top=t('.serial_id')
        %th.text-top=t('.template')
        %th.text-top=t('.issued_date')
        %th.text-top=t('.final_score')
        %th.text-top=t('.actions')
    %tbody
      - if certificates.any?
        - certificates.each_with_index do |certificate, index|
          %tr
            %td
              = index.next
            %td.nowrap
              = link_to_if certificate.certificate_template.file.present? && policy(certificate).show?, certificate.serial_id, certificate_pdf_path(certificate.serial_id) do
                = certificate.serial_id
            %td
              = certificate.certificate_template.title
            %td.nowrap
              = l certificate.issued_date, format: :date
            %td.text-center
              = certificate.final_score
            %td.text-center
              = link_to t('.delete'), certificate_template_certificate_path(certificate.certificate_template, certificate), method: :delete, data: { confirm: t('.confirm_delete') }, class: 'btn btn-danger btn-sm'
      - else
        %tr
          %td.central-row{colspan: 4}
            = t('.no_certificates_yet')
