.row.person-brief
  .col-xs-12
    .row
      .col-xs-12
        %h2
          = person.complex_name
    .row
      .col-xs-12.col-sm-3
        = person_photo(person, :standart, class: 'img-thumbnail img-version-standart')

      .col-xs-12.col-sm-9
        = link_to t('links.edit_profile'), edit_person_registration_path(person)

      .col-xs-12.col-sm-9.vert-offset-top-1
        = link_to t('.edit_subscriptions'), edit_subscriptions_path

      - if person.last_academic_groups.any?
        .col-xs-12.col-sm-9.vert-offset-top-1
          = t('static_pages.home.student_of_academic_groups')

          - person.last_academic_groups.each do |academic_group|
            = link_to academic_group.title, academic_group_path(academic_group)
      - if person.previous_academic_groups.any?
        .col-xs-12.col-sm-9.vert-offset-top-1
          = t('static_pages.home.ex_student_of_academic_groups')

          - person.previous_academic_groups.each do |academic_group|
            = link_to academic_group.title, academic_group_path(academic_group)
