.row.person-brief
  .col-xs-12
    .row
      .col-xs-12
        %h2
          = complex_name(person)
    .row
      .col-xs-12.col-sm-3
        - if person.photo.present?
          = image_tag "/people/show_photo/standart/#{person.id}", class: 'img-thumbnail'
        - else
          = image_tag person.photo_url, class: 'img-thumbnail'
      .col-xs-12.col-sm-9
        = link_to t('links.edit_profile'), edit_person_registration_path(person)
      - if person.last_akadem_group.present?
        .col-xs-12.col-sm-9.vert-offset-top-1
          = t('static_pages.home.student_of_akadem_group', akadem_group: person.last_akadem_group.group_name)
        - if person.last_akadem_group["message_#{locale}"].present?
          .col-xs-12.col-sm-9
            = t('static_pages.home.message_for_group')
            %p
              = person.last_akadem_group["message_#{locale}"]
