- if person.study_application.blank?
  .row
    - programs.each do |program|
      .col-xs-12.col-sm-6
        .panel.panel-info
          .panel-heading
            %h4.panel-title
              = program.title
          .panel-body
            %p
              = program.description
            .row
              .col-xs-12
                .pull-right
                  = simple_form_for study_application, remote: true, format: :js do |f|
                    = f.input :person_id, as: :hidden, input_html: { value: person.id }
                    = f.input :program_id, as: :hidden, input_html: { value: program.id }
                    = f.submit 'Apply', class: 'btn btn-success'
- else
  .program.alert.alert-success
    You have applied to #{person.study_application.program.title}
    = link_to 'Withdraw', person.study_application, remote: true, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' }
  - if person.pending_docs.present?
    .pending-docs.alert.alert-danger
      In order your application for study to be reviewed, you should:
      %ul
        - if person.pending_docs[:questionnaires].present?
          - person.not_finished_questionnaires.each do |questionnaire|
            %li
              Fill questionnaire #{ link_to questionnaire.title, edit_answer_path(questionnaire) }
        - if person.pending_docs[:photo].present?
          %li
            Attach photo #{ link_to 'here', edit_person_registration_path(person.resource) }
        - if person.pending_docs[:passport].present?
          %li
            Attach passport #{ link_to 'here', edit_person_registration_path(person.resource) }
