- if person.study_application.blank?
  .row
    .col-xs-12.panel-group#accordion
      %p
        = t('content.apply_to_programs')
      - programs.each_with_index do |program, index|
        .panel{ class: program.visible? ? 'panel-info' : 'panel-default' }
          .panel-heading
            %h4.panel-title.clearfix
              = link_to "#program-#{index}", data: { parent: '#accordion', toggle: 'collapse' } do
                %span.caret
                = program["title_#{locale}"]
              .pull-right
                - if policy(study_application).create?
                  = simple_form_for study_application, remote: true, format: :js do |f|
                    = f.input :person_id, as: :hidden, input_html: { value: person.id }
                    = f.input :program_id, as: :hidden, input_html: { value: program.id }
                    = f.button :button, class: 'btn btn-xs btn-success btn-submit' do
                      %span.glyphicon.glyphicon-refresh.spinner{ aria: { hidden: true } }
                      = t('links.apply_to_program')
          .panel-collapse.collapse{ id: "program-#{index}" }
            .panel-body
              - program["description_#{locale}"].to_s.split("\n").each do |part|
                %p= part

              - if program["courses_#{locale}"].any?
                %p= t('content.courses')
                %ul
                  - program["courses_#{locale}"].each do |course_title|
                    %li= course_title
- else
  - if person.pending_docs.present?
    .pending-docs.alert.alert-danger
      = t('content.application_requirements')
      %ul
        - if person.pending_docs[:questionnaires].present?
          - person.not_finished_questionnaires.each do |questionnaire|
            %li
              #{t('content.fill_questionnaire')} #{ link_to questionnaire["title_#{locale}"], edit_answer_path(questionnaire) }
        - if person.pending_docs[:photo].present?
          %li
            #{t('content.attach_photo')} #{ link_to t('content.in_profile'), edit_person_registration_path(person) }
  .program.alert.alert-success.clearfix
    .pull-right
      - if policy(person.study_application).destroy?
        = button_to person.study_application, { method: :delete, remote: true, data: { confirm: t('content.confirm_withdraw') }, class: 'btn btn-xs btn-danger btn-submit' } do
          %span.glyphicon.glyphicon-refresh.spinner{ aria: { hidden: true } }
          = t('links.withdraw')
    %p
      #{t('content.you_applied')} "#{person.study_application.program["title_#{locale}"]}"
    %p
      = t('content.ask_manager')
    %p
      = link_to_show_person_or_name(person.study_application.program.manager, true)
      = person.study_application.program.manager.telephones.pluck(:phone).join(', ')
      = mail_to person.study_application.program.manager.email
