- provide(:title, resource.title)

.questionnaire
  = simple_form_for resource, url: answer_path do |f|
    %h2
      = resource.title
    .description
      = resource.description
    %br

    = render 'shared/error_messages', object: f.object

    .questions
      = f.simple_fields_for :questions do |q|
        = render "question_#{q.object.format}", q: q, person: current_person

    = f.button :submit
