= simple_form_for @academic_group do |f|
  = render 'shared/error_messages', object: f.object
  = f.input :group_name
  = f.input :establ_date
  = f.input :group_description
  = f.input :curator
  = f.input :administrator
  = f.input :praepostor
  = f.input :message_ru
  = f.input :message_uk
  = f.button :submit
