= render 'shared/under_construction'
- provide(:title, 'All Academic Groups')

%h1 Academic Groups

.table-responsive
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th Name
        %th Established
        %th Graduated
        %th Description
        %th Students
    %tbody
      - @academic_groups.each do |academic_group|
        %tr{class: 'academic_group', id: academic_group.id}
          %td= link_to academic_group.title, academic_group
          %td= l(academic_group.establ_date) if academic_group.establ_date.present?
          %td= l(academic_group.graduated_at, format: :with_day) unless academic_group.active?
          %td= academic_group.group_description
          %td= academic_group.active_students.count
