<% provide(:title, t('devise.links.sign_in')) %>
<% content_for(:js_and_css) do %>
  <%= javascript_include_tag 'generated/react-bundle', type: 'text/javascript', defer: true %>
  <%= javascript_include_tag 'generated/schedule-list-bundle', type: 'text/javascript', defer: true %>
<% end %>

<div class="row vert-offset-top-4">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
    <%=
      link_to t('devise.links.sign_up'),
              new_registration_path(resource_name),
              class: 'btn btn-success btn-lg col-xs-12 col-sm-12'
    %>
  </div>
</div>??? !!!


<div class="row vert-offset-top-4">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 stop_double_submit">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|  %>
      <%= f.input :email, required: false, autofocus: true  %>
      <%= f.input :password, required: false %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>

      <div class="form-actions">
        <%= f.button :button, class: 'col-xs-12 btn btn-lg btn-submit' do %>
          <span class="glyphicon glyphicon-refresh spinner" aria-hidden></span>
          <%= t('devise.links.sign_in') %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<div class="row vert-offset-top-1">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
    <%=
      link_to t('devise.links.forgot_password'),
              new_password_path(resource_name),
              class: 'btn btn-default btn-sm col-xs-12 col-sm-12'
    %>
  </div>
</div>
