- provide(:title, t('devise.links.sign_in'))
%h1
  = t('devise.links.sign_in')
= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  = render 'shared/error_messages', object: f.object
  .form-group
    = f.input :email, required: false, autofocus: true
    = f.input :password, required: false
    = f.input :remember_me, as: :boolean if devise_mapping.rememberable?
  .form-actions
    = f.button :submit, t('devise.links.sign_in')
= render 'devise/shared/links'
