- provide(:title, t('devise.links.sign_in'))

.row.vert-offset-top-4
  .col-xs-12.col-sm-offset-4.col-sm-4
    = link_to t('devise.links.sign_up'), new_registration_path(resource_name), class: 'btn btn-success btn-lg col-xs-12 col-sm-12'

.row.vert-offset-top-4
  .col-xs-12.col-sm-offset-4.col-sm-4
    = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|

      = f.input :email, required: false, autofocus: true
      = f.input :password, required: false
      = f.input :remember_me, as: :boolean if devise_mapping.rememberable?

      .form-actions
        = f.button :submit, t('devise.links.sign_in'), class: 'col-xs-12 btn-lg'

.row.vert-offset-top-1
  .col-xs-12.col-sm-offset-4.col-sm-4
    = link_to t('devise.links.forgot_password'), new_password_path(resource_name), class: 'btn btn-default btn-sm col-xs-12 col-sm-12'
