- provide(:title, t('.title'))

.row
  .col-xs-12
    %h1.text-center=t('.title')

  - if current_person.can_act?('course:new')
    .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1.vert-offset-bottom-1.text-right
      = link_to_new(true, new_course_path)

  .col-xs-12.col-sm-6.col-sm-offset-3
    .table-responsive
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th= t('.course_title')
            %th= t('.course_variant')

            - if @courses.any? { |c| policy(c).tap { |p| break p.edit? || p.destroy? } }
              %th= t('.actions')

        %tbody
          - @courses.each do |course|
            %tr
              %td
                = link_to_if policy(course).show?, course.title, course_path(course) do
                  = course.title

              %td
                = course.variant

              - if policy(course).tap { |p| break p.edit? || p.destroy? }
                %td.col-xs-2.col-sm-3.col-md-2
                  = link_to_edit(policy(course).edit?, edit_course_path(course))
                  = link_to_destroy(policy(course).destroy?, course_path(course))
