- provide(:title, @course.title)

.row
  .col-xs-12.text-center
    %h1
      = @course.title

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1.clearfix
    = link_to_back(policy(Course).index?, courses_path)

    .pull-right
      = link_to_edit(policy(@course).edit?, edit_course_path(@course))
      = link_to_destroy(policy(@course).destroy?, course_path(@course))

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1
    = @course.description

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1
    = t('.class_schedules_count')
    = @class_schedules_count

  - if @course.teacher_profiles.any?
    .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1
      %h5
        = t('.associated_teachers')
    .col-xs-12.col-sm-6.col-sm-offset-3
      %ul
        - @course.teacher_profiles.each do |profile|
          %li
            = link_to_show_person_or_name(profile.person)

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1
    %h5
      = t('.associated_academic_groups')
  .col-xs-12.col-sm-6.col-sm-offset-3
    .table-responsive
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th= t('.academic_group_title')

        %tbody
          - @academic_groups.each do |group|
            %tr
              %td.nowrap
                = group.title

  - if policy(Examination).index?
    .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1
      %h5.clearfix
        = t('.examinations')

        .pull-right
          = link_to_new(current_person.can_act?('examination:new'), new_course_examination_path(@course))

    .col-xs-12.col-sm-6.col-sm-offset-3
      .table-responsive
        %table.table.table-condensed.table-striped
          %thead
            %tr
              %th= t('.examination_title')
              %th= t('.min_result')
              %th= t('.max_result')
              %th= t('.passing_score')

              - if @examinations.any? { |e| policy(e).tap { |p| break p.edit? || p.destroy? } }
                %th= t('.actions')

          %tbody
            - @examinations.each do |examination|
              %tr
                %td
                  = link_to_if policy(examination).show?, examination.title, course_examination_path(examination.course_id, examination) do
                    = examination.title

                %td.col-xs-1= examination.min_result
                %td.col-xs-1= examination.max_result
                %td.col-xs-1= examination.passing_score

                - if policy(examination).tap { |p| break p.edit? || p.destroy? }
                  %td.col-xs-2.col-sm-3.col-md-2
                    = link_to_edit(policy(examination).edit?, edit_course_examination_path(@course, examination))
                    = link_to_destroy(policy(examination).destroy?, course_examination_path(@course, examination))