%p
  Русская версия ниже

%hr{ align: 'center', width: '100%', size: '1', color: '#dddddd' }

%p
  Здрастуйте #{@resource.name} #{@resource.middle_name}!
%p
  Хтось запросив зміну Вашого паролю. Ви це можете зробити пройшовши по посиланню нижче.
%p
  = link_to 'Змінити мій пароль', edit_password_url(@resource, reset_password_token: @token)
%p
  Якщо Ви цього не запитували, будьласка, просто проігноруйте цей лист.
%p
  Ваш пароль не буде змінений поки Ви не пройдете по посиланню и не задасте новый.

%hr{ align: 'center', width: '100%', size: '1', color: '#dddddd' }

%p
  Здравствуйте #{@resource.name} #{@resource.middle_name}!
%p
  Кто-то запросил смену Вашего пароля. Вы это можете сделать пройдя по ссылке ниже.
%p
  = link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token)
%p
  Если Вы этого не запрашивали, пожалуйста, просто проигнорируйте это письмо.
%p
  Ваш пароль не будет изменен пока Вы не пройдете по ссылке и не зададите новый.
