= simple_nested_form_for @certificate_template do |f|
  = render 'shared/error_messages', object: f.object

  .form-inputs
    = f.input :title
    = f.input :file, wrapper: :vertical_file_input, as: :file

    - if f.object.file.present?
      .embed-responsive.embed-responsive-4by3
        %iframe.embed-responsive-item{src: certificate_template_preview_pdf_path(f.object)}
          = t(".file_present")
    - else
      = t(".file_not_present")

    = render 'nested_certificate_template_entries', f: f

  .form-actions
    = f.button :button, class: 'btn btn-submit col-xs-12' do
      %span.glyphicon.glyphicon-refresh.spinner{ aria: { hidden: true } }
      = submit_label
