= simple_nested_form_for @certificate_template do |f|
  = render 'shared/error_messages', object: f.object

  .form-inputs
    = f.input :title

    = render 'shared/nested_certificate_template_entries', f: f

  .form-actions
    = f.button :button, class: 'btn btn-submit col-xs-12' do
      %span.glyphicon.glyphicon-refresh.spinner{ aria: { hidden: true } }
      = submit_label
