= simple_form_for @certificate_template do |f|
  = render 'shared/error_messages', object: f.object

  = f.input :title
  = f.input :background, wrapper: :vertical_file_input, as: :file
  = f.input :background_cache, as: :hidden

  = f.button :submit, class: 'col-xs-12'
