- provide(:title, t('.title'))

.row
  .col-xs-12
    %h1.text-center=t('.title')

  .col-xs-12.col-sm-6.col-sm-offset-3.vert-offset-top-1.text-right
    = link_to_new current_person.can_act?('certificate_template:new'), new_certificate_template_path

  .col-xs-12.col-sm-6.col-sm-offset-3
    .table-responsive
      %table.table.table-condensed.table-striped
        %thead
          %tr
            %th=t('.template_title')
            %th=t('.actions')

        %tbody
          - @certificate_templates.each do |certificate_template|
            %tr
              %td
                = link_to_if policy(certificate_template).show?,
                  certificate_template.title, certificate_template do
                  = certificate_template.title
              %td.col-xs-2.col-sm-4.col-md-3
                = link_to_edit policy(certificate_template).edit?,
                  edit_certificate_template_path(certificate_template)
                = link_to_action policy(certificate_template).markup?,
                  markup_certificate_template_path(certificate_template), 'warning',
                  t('links.markup'), 'picture'
                = link_to_destroy policy(certificate_template).destroy?, certificate_template
