- content_for(:js_and_css) do
  = stylesheet_link_tag 'Jcrop/css/Jcrop', media: 'all'
  = javascript_include_tag 'cert_template_markup', type: 'text/javascript', defer: true

.row
  %h1.col-xs-12.col-sm-6
    = @certificate_template.title
  .col-xs-12
    = image_tag background_certificate_template_path(@certificate_template),
      id: 'markup-box',
      data: { height: @certificate_template.background_height, width: @certificate_template.background_width }

  .col-xs-12
    = simple_form_for @certificate_template,
                      url: finish_certificate_template_path(@certificate_template),
                      method: :patch do |f|
      .row
        .col-xs-12
          = render 'shared/error_messages', object: f.object

      - dimension_fields(@certificate_template) do |field_key, label_name, dimensions, is_array|
        .row.field-set{ data: { label: label_name }, id: label_name }
          .col-xs-2
            = label_tag "certificate_template[fields][#{field_key}]", label_name
          .col-xs-10
            - dimensions.each do |dimension, value|
              - field_name = "certificate_template[fields][#{field_key}]#{ is_array ? '[]' : '' }[#{dimension}]"
              = label_tag field_name, dimension
              = number_field_tag field_name, value, min: 0, id: dimension

      .row
        .col-xs-12
          = f.button :submit


