.sidebar{ class: :noselect }
  %ul.sidebar-accordion
    - if send 'show_academic_groups_menu?'
      %li
        = check_box_tag 'agroup', :checked, cookies['agroup_submenu_opened'].present?, class: 'group-status'

        %label{ for: 'agroup', class: active_class(new_academic_group_path, academic_groups_path) }
          %i.sidebar-icon.fa.fa-2x{ class: 'fa-graduation-cap', aria: { hidden: :true } }
          = t('defaults.links.academic_groups')
          %span.caret

        %ul
          - if current_person.can_act?('academic_group:new')
            %li
              = link_to t('defaults.links.academic_groups_add'),
                        new_academic_group_path,
                        class: active_class(new_academic_group_path)

          - if current_person.can_act?('academic_group:index')
            %li
              = link_to t('defaults.links.academic_groups_list'),
                        academic_groups_path,
                        class: active_class(academic_groups_path)

            %li
              = check_box_tag 'active-agroups',
                              :checked,
                              cookies['active-agroups_submenu_opened'].present?,
                              class: 'group-status'

              %label{ for: 'active-agroups' }
                = t('defaults.links.active_groups')
                %span.caret

              %ul
                - AcademicGroup.active.each do |group|
                  %li
                    = link_to group.title, group, class: active_class(academic_group_path(group))

    = generated_sidebar_menu

    - if show_journal_link?
      %li
      = link_to journal_path, class: active_class(journal_path) do
        %i.sidebar-icon.fa.fa-2x.fa-history{ aria: { hidden: :true } }
        = t('defaults.links.journal')

    %li
      = link_to changelog_path, class: active_class(changelog_path) do
        %i.sidebar-icon.fa.fa-2x.fa-road{ aria: { hidden: :true } }
        = t('defaults.links.changelog')
    %li
      = link_to privacy_agreement_path, class: active_class(privacy_agreement_path) do
        %i.sidebar-icon.fa.fa-2x.fa-handshake-o{ aria: { hidden: :true } }
        = t('defaults.links.agreement')
