.sidebar{ class: :noselect }
  %ul.sidebar-accordion
    %li
      = link_to root_path, class: active_class(root_path) do
        %i.sidebar-icon.fa.fa-2x.fa-id-card-o{ aria: { hidden: :true } }
        = t('defaults.links.home')

    = generate_menu_group(:academic_group, :academic_groups, :'fa-graduation-cap') do
      - capture_haml do
        - if current_person.can_act?('academic_group:index')
          %li
            = check_box_tag 'active-agroups',
                            :checked,
                            cookies['active-agroups-submenu-is-opened'].present?,
                            class: 'group-status'

            %label{ for: 'active-agroups' }
              = t('defaults.links.active_groups')
              %span.caret

            %ul
              - AcademicGroup.active.each do |group|
                %li
                  = link_to group.title, group, class: active_class(academic_group_path(group))

    = generate_menu_group(:person, :people, :'fa-users', skip_list: true) do
      - capture_haml do
        - if current_person.can_act?('person:index')
          %li
            = link_to t('defaults.links.all_people'), people_path, class: active_class(people_path)
          %li
            - path = people_path(without_application: true)
            = link_to t('defaults.links.people_without_applications'), path, class: active_class(path)
          %li
            = check_box_tag 'people-by-application',
                            :checked,
                            cookies['people-by-application-submenu-is-opened'].present?,
                            class: 'group-status'

            %label{ for: 'people-by-application' }
              = t('defaults.links.people_by_application')
              %span.caret

            %ul
              - Program.select(:id, :title_uk, :title_ru).each do |program|
                %li
                  - path = people_path(with_application: program.id)
                  = link_to program["title_#{I18n.locale}"], path, class: active_class(path)

    = generated_sidebar_menu

    - if show_journal_link?
      %li
      = link_to journal_path, class: active_class(journal_path) do
        %i.sidebar-icon.fa.fa-2x.fa-history{ aria: { hidden: :true } }
        = t('defaults.links.journal')

    %li
      = link_to changelog_path, class: active_class(changelog_path) do
        %i.sidebar-icon.fa.fa-2x.fa-road{ aria: { hidden: :true } }
        = t('defaults.links.changelog')
    %li
      = link_to privacy_agreement_path, class: active_class(privacy_agreement_path) do
        %i.sidebar-icon.fa.fa-2x.fa-handshake-o{ aria: { hidden: :true } }
        = t('defaults.links.agreement')
