!!! 5
%html{ lang: locale }
  %head
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
    %meta{ name: 'theme-color', content: '#222' }

    - unless params[:action] == 'privacy_agreement'
      %meta{ name: 'robots', content: 'noindex, nofollow' }

    = csrf_meta_tags

    - if Rails.env.production?
      = javascript_include_tag 'sentry-raven', type: 'text/javascript', async: true

      %script{ src: 'https://www.googletagmanager.com/gtag/js?id=UA-108797911-1', async: true, type: 'text/javascript' }

      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-108797911-1');

    %title
      = full_title(yield(:title))

    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application', type: 'text/javascript'

    - if content_for?(:js_and_css)
      = yield(:js_and_css)

    /[if lt IE 9]
      %script{ src: '//oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' }
      %script{ src: '//oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js' }
  %body{ class: sidebar_opened? ? 'sidebar-is-opened' : '' }
    = render 'layouts/header'
    = render 'layouts/sidebar'

    .container-fluid.main-bar
      - if Rails.application.secrets.farewell
        .row
          .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
            .alert.alert-warning.vert-offset-top-1.text-center
              Студентській портал мігрує на нову платформу, цей сайт
              %b
                буде вимкнено у грудні 2025
              %br
              Включено режим "тільки для читання" - немає можливості створювати щось нове або редагувати
              %br
              Будь ласка переходьте до нового порталу
              = link_to "courses.krishna.ua", "https://courses.krishna.ua"

      - if flash.any?
        .row
          .col-xs-12
            - flash.each do |name, msg|
              .alert.alert-dismissible.vert-offset-top-1{ class: "alert-#{name}" }
                = button_tag type: 'button', class: 'close', data: { dismiss: 'alert' } do
                  %span{ aria: { hidden: true } }
                    &times;
                  %span.sr-only
                    Close
                = raw msg

      = content_for?(:content) ? yield(:content) : yield
