%h2 Edit #{resource_name.to_s.humanize}

= simple_nested_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = render 'shared/error_messages', object: f.object

  .form-inputs
    - if f.object.photo.present?
      = image_tag("/people/show_photo/standart/#{f.object.id}")
    - else
      = image_tag(f.object.photo_url)
    = f.input :photo, as: :file
    = f.input :photo_cache, as: :hidden
    - if f.object.passport.present?
      = link_to 'Show passport', "/people/show_passport/#{f.object.id}", target: '_blank'
    - else
      There is no passport attached.
    = f.input :passport, as: :file
    = f.input :passport_cache, as: :hidden
    = f.input :email, required: true, autofocus: true
    = f.input :spiritual_name
    = f.input :name, required: true
    = f.input :middle_name
    = f.input :surname, required: true
    = render 'shared/nested_telephones', f: f
    = f.input :gender, collection: [['Male', true], ['Female', false]], required: true
    = f.input :birthday, as: :string, input_html: { id: 'datepicker', data: { locale: "#{locale}" } }
    = f.input :education
    = f.input :work
    = f.input :emergency_contact, required: false

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}

    = f.input :password, autocomplete: 'off', hint: "leave it blank if you don't want to change it", required: false
    = f.input :password_confirmation, required: false
    = f.input :current_password, hint: 'we need your current password to confirm your changes', required: true

  .form-actions
    = f.button :submit, 'Update'

%h3
  Cancel my account

%p
  Unhappy? #{link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete}

= link_to 'Back', :back
