- provide(:title, t('devise.links.sign_up'))
- content_for(:js_and_css) do
  = javascript_include_tag 'nested_form_custom', 'data-turbolinks-track' => true

%h1
  = t('devise.links.sign_up')

= simple_nested_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = render 'shared/error_messages', object: f.object

  .form-inputs
    = f.input :photo, as: :file, required: false
    = f.input :photo_cache, as: :hidden
    = f.input :passport, as: :file, required: false
    = f.input :passport_cache, as: :hidden
    = f.input :email, required: true, autofocus: true
    = f.input :password, required: true
    = f.input :password_confirmation, required: true
    = f.input :spiritual_name
    = f.input :name
    = f.input :middle_name
    = f.input :surname
    = f.fields_for :telephones do |t|
      = t.input :phone, as: :tel, required: true
      = t.link_to_remove '-'
    = f.link_to_add '+', :telephones
    = f.input :gender, collection: [['Male', true], ['Female', false]], required: true
    = f.input :birthday, required: true
    = f.input :edu_and_work
    = f.input :emergency_contact

  .form-actions
    = f.button :submit, t('devise.links.sign_up')
